{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

    // defining chart type
    chart = anychart.lineChart();

    // title setter
    chart.title().text('Logarithmic scale sample');

    // setting yScale type as logarithmic.
    chart.yScale(anychart.scales.log().minimum(10));

    // y axis title setter
    chart.yAxis().title().text('This Axis has \'Logarithmic\' type');

    // setting data
    chart.spline([
        ['A', 637166],
        ['B', 721630],
        ['C', 1000],
        ['D', 78],
        ['E', 90]
    ]);

    chart.container('container').draw();

});