{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

    //data
    var data = anychart.data.set([
        [1970, 10000],
        [1980, 12000],
        [1990, 18000],
        [2000, 11000],
        [2010, 9000]
    ]);

    //chart type
    var chart = anychart.lineChart();

    //set data
    chart.line(data).color('blue').hoverStroke('4 lightBlue').tooltip().contentFormatter(function(){
        return 'Year: ' + this.x + '\nSales: ' + this.value/1000 + ',000.00';
    });

    //disable title
    chart.title().enabled(false);

    //set y scale ticks interval
    chart.yScale().ticks().interval(2000);

    chart.grid(1, null);

    //adjust y axis labels
    chart.yAxis().labels().textFormatter(function(){
        return '$' + this.value/1000 + ',000';
    });
    //y scale title
    chart.yAxis().title().text('Sales');
    //disable x axis ticks and labesls
    chart.xAxis().labels().enabled(false);
    chart.xAxis().ticks().enabled(false);
    chart.xAxis().title().text('Quarter 1').fontWeight(400);


    //set gray marker
    chart.rangeMarker()
        .scale(chart.yScale())
        .from(9000)
        .to(18000)
        .fill('#222222 0.5');

    //draw
    chart.container('container').draw();
});