{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

    //define chart type
    chart = anychart.columnChart();

    //chart title
    chart.title().text('Inverted Scale');

    //setteing data
    var data = anychart.data.set([
        ['C', 15],
        ['D', 45],
        ['E', 25]
    ]);
    chart.column(data).hoverFill('#444444');

    //setting yScale invertion
    chart.yScale().inverted(true);

    chart.container('container').draw();
});