{:tags []
     :is_new false
     :exports "chart"}
var stage = acgraph.create(400, 200).container('container');
anychart.onDocumentReady(function() {
chart = anychart.cartesian.chart();
var data = anychart.data.set([
    ['A', 4],
    ['B', 3],
    ['C', 2],
    ['D', 1]
    ]);
chart.column(data);
chart.xAxis().ticks().enabled(false);
chart.yAxis().minorTicks().enabled(false);
chart.yAxis().ticks().enabled(false);
chart.container(stage);
chart.draw();
});