{:tags ["column" "axis"]
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // data
  var data = anychart.data.set([
    ["A", 637166],
    ["B", 721630],
    ["C", 148662],
    ["D", 78662],
    ["E", 90000]
  ]);

  // set data and chart type
  var chart = anychart.columnChart(data);

  // title settings
  chart.title().text("Extra Axes Simple Sample");

  // adjusting xAxis title
  chart.xAxis().title().text("Sample X axis name").fontWeight("400");

  // adjusting yAxes titles
  chart.yAxis(1).orientation("right")
    .title()
      .text("First additional axis");
  chart.yAxis(2).orientation("right")
    .title()
      .text("Second additional axis");
  chart.yAxis(3).orientation("right")
    .title()
      .text("Third additional axis");

  // adjusting major ticks' interval
  chart.yScale().ticks().interval(100000);

  // draw
  chart.container("container").draw();
});