{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

    // define chart
    chart = anychart.cartesianChart();

    chart.margin().top(30).right(30);

    // setting data
    var data = anychart.data.set([
        ['A', 4],
        ['B', 3],
        ['C', 2],
        ['D', 1]
    ]);

    // define chart type
    chart.bar(data);

    // disabling all ticks
    chart.xAxis().ticks().enabled(false);
    chart.yAxis().minorTicks().enabled(false);
    chart.yAxis().ticks().enabled(false);

    chart.container('container').draw();
});