{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {
    chart = anychart.columnChart();
    chart.container('container');

    //setting title
    chart.title().text('X-Axis labels: width is not defined (no wrapping)');

    //seting data
    chart.column([
        ["People's Republic of China", 1336717952],
        ["India", 1189172864],
        ["United States of America", 313232032],
        ["Russian Federation", 138739888],
        ["Japan", 126475664]
    ]);

    //adjusting labels
    chart.yScale().ticks().interval(200000000);
    chart.yAxis().labels().textFormatter(function(){
        var value = this.value;
        if (value>1000000){
            if (value>999999999){
                value = value/1000000000 + ' B ';
            }
            else{
                value = value/1000000 + ' M ';
            }
        }
        return value;
    });
    chart.xAxis().labels().hAlign('center').width(60);
    chart.yAxis().minorTicks().enabled(false);
    chart.xAxis().staggerLines(1);

    //draw chart
    chart.draw();
});