{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {
  var data = anychart.data.set([
    ['A', 637166],
    ['B', 721630],
    ['C', 148662],
    ['D', 78662],
    ['E', 90000]
  ]);
  chart = anychart.columnChart(data);
  chart.title().enabled(false);
  chart.container('container').draw();
  var max = chart.yScale().maximum();
  var min = chart.yScale().minimum();
  chart.yAxis().title().align('bottom');
  chart.yAxis(0).orientation('right');
  chart.xAxis().title().text('Sample X axis name').fontWeight('400');
  chart.yAxis().title().text('Y axis from ' + min + ' to ' + max);
  chart.yAxis().enabled(false).enabled(true);
});