{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

    // define chart type
    chart = anychart.columnChart();

    // chart title
    chart.title().text('Soft Maximum and Soft Minimum Scale Value');

    // setting data
    var data = anychart.data.set([
        ['C', 5, 100],
        ['D', -250, 200],
        ['E', 15, 15]
    ]);

    // remapping data
    var Sales2003 = data.mapAs({x: [0], value: [1]});
    var Sales2004 = data.mapAs({x: [0], value: [2]});

    // setting series data
    var series;
    series = chart.column(Sales2003).hoverFill('#444444');
    series = chart.column(Sales2004).hoverFill('#444444');


    // adjusting y scale minimum and maximum values
    chart.yScale().softMinimum(-50).softMaximum(100).ticks().interval(20);

    chart.container('container').draw();
});
