{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

    //setting data
    var data = anychart.data.set([
        ['P1', 16, 20],
        ['P2', 12, 18],
        ['P3', 9, 14]
    ]);

    //remapping data
    var Sales2003 = data.mapAs({x: [0], value: [1]});
    var Sales2004 = data.mapAs({x: [0], value: [2]});

    chart = anychart.columnChart();

    //series defining
    var series;
    series = chart.column(Sales2003);
    series = chart.column(Sales2004);

    //adjusting major and minor grids
    chart.grid(0).stroke('black').layout('vertical');
    chart.grid(1).stroke('black').layout('horizontal');
    chart.minorGrid().stroke('black 0.2').layout('horizontal');

    //setting major ticks interval on y scale
    chart.yScale().ticks().interval(2);

    chart.container('container').draw();
});