{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {
document.getElementById('container').style.width = '400px';
document.getElementById('container').style.height = '200px';
chart = anychart.cartesian.chart();
var data = anychart.data.set([
    ['A', 4],
    ['B', 3],
    ['C', 2],
    ['D', 1]
    ]);
chart.column(data);
chart.xAxis().ticks().enabled(false);
chart.yAxis().minorTicks().enabled(false);
chart.yAxis().ticks().enabled(false);
chart.container(stage);
chart.draw();
});