{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // define chart type
  var chart = anychart.columnChart();

  // chart title
  chart.title().text("Maximum and Minimum Scale Value");

  // setteing data
  var data = anychart.data.set([
    ["C", 5, 10],
    ["D", 25, 20],
    ["E", 15, 15]
  ]);

  // remapping data
  var Sales2003 = data.mapAs({x: [0], value: [1]});
  var Sales2004 = data.mapAs({x: [0], value: [2]});

  // setting series data
  chart.column(Sales2003).hoverFill("#444444");
  chart.column(Sales2004).hoverFill("#444444");

  // setting data for line chart
  chart.line([
    ["C", 10],
    ["D", 30],
    ["E", 15]
  ]);

  // adjusting y scale minimum and maximum values
  chart.yScale().minimum(-50).maximum(100).ticks().interval(20);

  chart.container("container").draw();
});