{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

  // set stage
  stage = anychart.graphics.create('container');

  // create table
  var table = anychart.ui.table();
  table.rowHeight(0, '100%');

  // setting data
  var data = anychart.data.set([
        ['C', 5],
        ['D', -21],
        ['E', 14]
  ]);

  // create charts
  var chart_1 = anychart.columnChart(data);
  var chart_2 = anychart.columnChart(data);
  var chart_3 = anychart.columnChart(data);  

  chart_2.yScale().minimum(-10).maximum(10);
  chart_3.yScale().softMinimum(-25).softMaximum(25);

  formatChart(chart_1);
  formatChart(chart_2);
  formatChart(chart_3);

  // set table content
  table.contents([
    [
      chart_1,
      chart_2,
      chart_3
    ]
  ]);


  // position text in the center of each cell
  table.cellTextFactory().vAlign('center').hAlign('center');

  // set table container and initiate draw
  table.container(stage).draw();
});
function formatChart(chart){
    chart.title(false);
    chart.xAxis().title(false);
    chart.yAxis().title(false);
    chart.yScale().minimumGap(0).maximumGap(0)
};
