    var stage = acgraph.create(400, 200).container('container');
    stage.rect(stage.width() / 12, stage.height() / 4, stage.width() / 6, 3 * stage.height() / 4)
            .fill('yellow .3');
    stage.circle(stage.width() / 12, stage.height() / 4, 3).fill('blue');
    stage.rect(5 * stage.width() / 12, stage.height() / 4, stage.width() / 6, 3 * stage.height() / 4)
            .fill('yellow .3');
    stage.circle(5 * stage.width() / 12, stage.height() / 4, 3).fill('blue');
    stage.rect(9 * stage.width() / 12, stage.height() / 4, stage.width() / 6, 3 * stage.height() / 4)
            .fill('yellow .3');
    stage.circle(9 * stage.width() / 12, stage.height() / 4, 3).fill('blue');
    stage.path()
            .moveTo(stage.width() / 3, 0)
            .lineTo(stage.width() / 3, stage.height())
            .moveTo(2 * stage.width() / 3, 0)
            .lineTo(2 * stage.width() / 3, stage.height());
    new anychart.elements.Marker()
            .position([stage.width() / 12, stage.height() / 4])
            .container(stage)
            .anchor(anychart.utils.NinePositions.LEFT_TOP)
            .type('star5')
            .fill('red .7')
            .draw();
    new anychart.elements.Marker()
            .position([5 * stage.width() / 12, stage.height() / 4])
            .container(stage)
            .anchor(anychart.utils.NinePositions.CENTER)
            .type('star5')
            .fill('red .7')
            .draw();
    new anychart.elements.Marker()
            .position([9 * stage.width() / 12, stage.height() / 4])
            .container(stage)
            .anchor(anychart.utils.NinePositions.RIGHT_BOTTOM)
            .type('star5')
            .fill('red .7')
            .draw();