{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  
  // set data and define chart type
  var chart = anychart.pieChart([
    {name: "John", value: 10000},
    {name: "Jake", value: 12000},
    {name: "Peter", value: 16000},
    {name: "Alex", value: 11000},
    {name: "Tom", value: 13000},
    {name: "Julia", value: 18000},
    {name: "Mary", value: 9000}
  
  ]);
  
  chart.legend()
    .enabled(true)                          // enables legend
    .position('left')                       // set legend position
    .align('top')                           // set legend align
    .itemsLayout('vertical')                // legend items layout
    .background()                           // background settings
      .fill(['white', 'lightgreen'], -45);  // background inner color settings
  
  // draw
  chart.container('container').draw();
});