{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  
  //set chart type
  var chart = anychart.column();
  
  // set data
  chart.column([
    {x: 'John', value: 10000},
    {x: 'Jake', value: 12000},
    {x: 'Peter', value: 16000}
  ]);
  
  // set chart title
  chart.title().text('Legend for Single Series');
  
  // legend settings
  chart.legend()
    .enabled(true)                  // enable legend
    .itemsSourceMode('categories'); // set source of legend items
  
  // set container and draw chart
  chart.container('container').draw();
});