{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  
  // data
  var data = anychart.data.set([
    {x: "John", value: 10000},
    {x: "Jake", value: 12000},
    {x: "Peter", value: 16000},
    {x: "Alex", value: 11000},
    {x: "Tom", value: 13000},
    {x: "Julia", value: 18000},
    {x: "Mary", value: 9000}
  ]);
  
  // chart type
  var chart = anychart.column();
  
  // set chart data
  chart.column(data);
  
  // legend settings
  chart.legend()
    .enabled(true)                  // enables legend
    .position('bottom')             // set legend position
    .align('center')                // set legend align
    .itemsSourceMode('categories')  // set source of legend items
    .itemsLayout('horizontal')      // legend items layout
    .tooltip()                      // tooltip settings
      .contentFormatter(function(item){
      for (var i=0;i<item.length;i++){
        }
        console.log(item);
        var tooltipText = 'Manager: ' + data3.mapAs().get(item.index, 'x') 
        + '\nSales: ' + data3.mapAs().get(item.index, 'value');
        return tooltipText; 
    });
  
  // draw
  chart.container('container').draw();
});