{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  
  var stage = anychart.graphics.create("container");
  
  var chart = anychart.pieChart([
    {x: "Product A", value: "9000"},
    {x: "Product B", value: "5000"},
    {x: "Product C", value: "1400"},
    {x: "Product D", value: "590"},
    {x: "Product E", value: "8813"}
  ]);
  
  stage.image()
    .src("http://static.anychart.com/images/logo_anychart.gif")
    .y(15)
    .x(25)
    .width(50)
    .height(50)
    .zIndex(chart.zIndex() + 1);

  chart.tooltip().enabled(false);
  chart.fill("aquastyle");
  chart.labels()
    .position("outside");
  
  chart.legend().enabled(false);

  chart.title().enabled(false);
  chart.container(stage).draw();
});