{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  
  // set stage
  stage = anychart.graphics.create('container');
  
  // data
  var data = anychart.data.set([
    ['John',  10000, 12000, 20000, 16000],
    ['Jake',  12000, 15000, 19000, 21000],
    ['Peter', 16000, 17000, 21000, 22000]
  ]);
  
  // get default color palette
  var palette = anychart.palettes.distinctColors().colors();
  
  // variables for legend items
  var johnLegendItems = [];
  var jakeLegendItems = [];
  var peterLegendItems = [];
  
  // push settings into arrays of legend items
  for (var i0=1;i0<data.data()[0].length;i0++){
    johnLegendItems.push({
      text: data.data()[0][i0].toString(),  // text of item
      iconType: 'square',                   // type of icons
      iconFill: palette[i0-1]               // color of icons
    })
  }
  for (var i1=1;i1<data.data()[1].length;i1++){
    jakeLegendItems.push({
      text: data.data()[0][i1].toString(),  // text of item
      iconType: 'square',                   // type of icons
      iconFill: palette[i1-1]               // color of icons
    })
  }
  for (var i2=1;i2<data.data()[2].length;i2++){
    peterLegendItems.push({
      text: data.data()[0][i2].toString(),  // text of item
      iconType: 'square',                   // type of icons
      iconFill: palette[i2-1]               // color of icons
    })
  }
  
  // custom legends
  var johnLegend = anychart.ui.legend();
  var jakeLegend = anychart.ui.legend();
  var peterLegend = anychart.ui.legend();
  
  // set legend titles
  johnLegend.title().text('John').hAlign('center');
  jakeLegend.title().text('Jake').hAlign('center');
  peterLegend.title().text('Peter').hAlign('center');
  
  // set legend items
  johnLegend.itemsProvider(johnLegendItems);
  jakeLegend.itemsProvider(jakeLegendItems);
  peterLegend.itemsProvider(peterLegendItems);
  
  // legends settings
  johnLegend
    .position('bottom')
    .align('left')
    .zIndex(1)
    .enabled(true)
    .itemsLayout('vertical');
  
  jakeLegend
    .position('bottom')
    .align('center')
    .zIndex(1)
    .enabled(true)
    .itemsLayout('vertical');
  
  peterLegend
    .position('bottom')
    .align('right')
    .zIndex(1)
    .enabled(true)
    .itemsLayout('vertical');
  
  // draw legends
  johnLegend.container(stage).draw();
  jakeLegend.container(stage).draw();
  peterLegend.container(stage).draw();
  
  
  
  // map data
  var Quarter1 = data.mapAs({x: [0], value: [1]});
  var Quarter2 = data.mapAs({x: [0], value: [2]});
  var Quarter3 = data.mapAs({x: [0], value: [3]});
  var Quarter4 = data.mapAs({x: [0], value: [4]});
  
  // chart type
  var chart = anychart.column();
  
  chart.xAxis().title(null);
  chart.yAxis().title(null);
  
  // set title
  chart.title().text('Custom Legend');
  
  // set data
  chart.column(Quarter1).name('Quarter 1');
  chart.column(Quarter2).name('Quarter 2');
  chart.column(Quarter3).name('Quarter 3');
  chart.column(Quarter4).name('Quarter 4');
  
  // legend settings
  chart.legend()
    .enabled(true)              // enable legend
    .position('right')          // set legend position
    .align('top')               // set legend align
    .itemsLayout('vertical');   // set items layout
    
  chart.background(null);        // disable chart background
  
  // settings for legend title  
  chart.legend().title()
    .enabled(true)              // enables legend title
    .text('2004 - Quarters: ')  // set title text
    .fontColor('red')           // set title text color
    .fontWeight(900)            // set text weight
    .padding(5)                 // prevent sticking text to borders
    .background()
      .enabled(true)            // enables background of the legend title
      .fill(null)               // disables background inner color
      .stroke('black');         // set border of the title
  
  // prevent chart overlapping by legends
  chart.margin().bottom(stage.height() - johnLegend.getRemainingBounds().getHeight() - 10);
  
  // redraw legends if chart is redrawn
  chart.container(stage).draw();
  chart.listen(
    'chartDraw',
    function (){
      johnLegend.parentBounds(
        anychart.math.rect(
          0,
          0,
          chart.container().width(),
          chart.container().height()
        )
      );
      johnLegend.draw();
      jakeLegend.parentBounds(
        anychart.math.rect(
          0,
          0,
          chart.container().width(),
          chart.container().height()
        )
      );
      jakeLegend.draw();
      peterLegend.parentBounds(
        anychart.math.rect(
          0,
          0,
          chart.container().width(),
          chart.container().height()
        )
      );
      peterLegend.draw();
    });
});