{:tags []
     :is_new false
     :exports "chart"}


anychart.onDocumentReady(function() {
  
  stage = anychart.graphics.create('container');
  
  // set chart type
  chart = anychart.column();
  
  chart.title()
    .text('Sales Performance')  // set text for default title
    .fontSize(12)               // set font size
    .fontWeight(700);           // set font weight
  
  // data
  var data = anychart.data.set([
    ['John', 10000],
    ['Jake', 12000],
    ['Peter', 18000],
    ['James', 11000],
    ['Mary', 9000]
  ]);
  
  // set data
  chart.column(data);
  
  // draw chart
  chart.container(stage).draw();
  
  // create additional title
  var customTitle = anychart.ui.title();
  customTitle
    .text('according to annual report') // set title text
    .orientation('bottom')              // place title at the bottom
    .align('right')                     // stick text to the right side
    .fontSize(11)                       // set text size
    .fontFamily('Tahoma')               // set font family
    .fontWeight(400)                    // unbold title
    .background()                       // background settings
      .enabled(true)                    // eanble background
      .fill(null)                       // disable fill
      .stroke('#000000');               // set black border to title
  
  // set container and draw title
  customTitle.container(stage).draw();
});