{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

    //data set
    var data = anychart.data.set([
        ['P1', 16, 20],
        ['P2', 12, 18],
        ['P3', 9, 14]
    ]);

    //data remapping
    var seriesData_1 = data.mapAs({x: [0], value: [1]});
    var seriesData_2 = data.mapAs({x: [0], value: [2]});

    stage = acgraph.create('container');

    //setting main title
    var title = anychart.elements.title();

    //setting position for container with main label
    title.parentBounds(0, 0, "100%", "10%")
        .text('Borders Settings')
        .container(stage)
        .draw();


    //Chart without labels adjusting
    var normalLabels = anychart.columnChart();

    //setting title
    normalLabels.title().text('Solid Border');

    //setting stroke for chart contaoner
    normalLabels.background().stroke('5 red');

    //setting position and bounds
    normalLabels.bounds(0, '10%', '45%', '40%');

    //disabling titles for Axes
    normalLabels.yAxis().title().enabled(false);
    normalLabels.xAxis().title().enabled(false);


    //setting data into series
    firstNormalSeries = normalLabels.column(seriesData_1);
    secondNormalSeries = normalLabels.column(seriesData_2);

    //draw container
    normalLabels.container(stage);
    normalLabels.draw();


    //chart with rotated labels
    var rotatedLabels = anychart.columnChart();
    rotatedLabels.title().text('Gradient Border');
    rotatedLabels.bounds('55%', '10%', '45%', '40%');
    rotatedLabels.background().stroke({
            keys: ['.1 green', '.5 yellow', '.9 red'],
            angle: -90,
            opacity: 0.5,
            thickness: 5
        });

    rotatedLabels.yAxis().title().enabled(false);
    rotatedLabels.xAxis().title().enabled(false);

    //rotating labels
    rotatedLabels.xAxis().labels().rotation(-90);
    rotatedLabels.yAxis().labels().rotation(-90);

    firstNormalSeries = rotatedLabels.column(seriesData_1);
    secondNormalSeries = rotatedLabels.column(seriesData_2);

    rotatedLabels.container(stage);
    rotatedLabels.draw();


    //chart with stagger mode
    var staggerLabels = anychart.columnChart();
    staggerLabels.title().text('Dashed Stroke');
    staggerLabels.bounds(0, '60%', '45%', '40%');
    staggerLabels.background().stroke({color: 'black', dash: '5 2 5', opacity: 0.2, thickness: 5});
    staggerLabels.xAxis().title().enabled(false);
    staggerLabels.yAxis().title().enabled(false);
    staggerLabels.yScale().ticks().interval(1);

    //enabling stagger mode
    staggerLabels.yAxis().staggerMode(true);

    //adjusting settings for stager mode
    staggerLabels.yAxis().staggerLines(2);

    firstNormalSeries = staggerLabels.column(seriesData_1);
    secondNormalSeries = staggerLabels.column(seriesData_2);

    staggerLabels.container(stage);
    staggerLabels.draw();


    //chat with labels inside
    var labelsInside = anychart.lineChart();

    //setting data
    labelsInside.line([
        [-4, 16],
        [-2, 20],
        [-1, 15],
        [2, 20],
        [3, 18],
        [4, 16],
    ]).tooltip().enabled(false);

    labelsInside.title().text('Labels Inside');
    labelsInside.bounds('55%', '60%', '45%', '40%');
    labelsInside.background().stroke(null);

    labelsInside.xAxis().title().enabled(false);
    labelsInside.yAxis().title().enabled(false);

    //adjusting scales
    labelsInside.xScale(anychart.scales.linear());
    labelsInside.yScale(anychart.scales.linear().maximum(23).minimum(13));
    labelsInside.yScale().ticks().interval(3);
    labelsInside.xScale().ticks().interval(1);

    //setting labels a bit higher and andjusting it's values
    labelsInside.xAxis().labels().offsetY(-25).textFormatter(function(){
        return this.value + '.00';
    });

    //disabling first and last labels
    labelsInside.xAxis().drawFirstLabel(false);
    labelsInside.xAxis().drawLastLabel(false);

    //disabling labels for y axis
    labelsInside.yAxis().labels().enabled(false);

    labelsInside.container(stage);
    labelsInside.draw();
});