{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // Create bullet chart
  var chart = anychart.bulletChart([
    {value: 225},                               // main quantity bar
    {value: 200, type: 'line'},                 // line shaped marker
    {value: 275, type: 'x', stroke: 'red'}      // X shaped marker
  ]);

  // Set chart to render on stage
  chart.container('container');

  // Set chart size and position settings
  chart.bounds(0, '35%', '100%', '30%');

  // Set title
  chart.title().text('Markers');

  // Create chart ranges
  chart.range().from(0).to(100);
  chart.range(1).from(100).to(150);
  chart.range(2).from(150).to(200);
  chart.range(3).from(200).to(250);
  chart.range(4).from(250).to(300);

  // Initiate chart drawing
  chart.draw();

});