{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    //chart type
    chart = anychart.cartesianChart();

    //set title
    chart.title().text('Scales Management');

    //draw axes and set titles
    chart.xAxis().title('Year');
    chart.yAxis().title('Box office');

    //draw grid
    chart.grid().layout('horizontal');

    //draw minor grid and adjust
    chart.minorGrid()
        .evenFill('none')
        .oddFill('none')
        .stroke('black 0.075')
        .layout('vertical');

    //define chart type and set data
    chart.marker([
        ['2000', 1100],
        ['2001', 880],
        ['2002', 1100],
        ['2003', 1500],
        ['2004', 921],
        ['2005', 1000],
        ['2006', 1400]
    ]);

    //adjust y scale position
    chart.yScale().inverted(true);

    //draw
    chart.container('container').draw();
});