{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    //data
    var data = ([
        ['28-Aug-07', 511.53, 514.98, 505.79, 506.40],
        ['29-Aug-07', 507.84, 513.30, 507.23, 512.88],
        ['30-Aug-07', 512.36, 515.40, 510.58, 511.40],
        ['31-Aug-07', 513.10, 516.50, 511.47, 515.25],
        ['4-Sep-07', 515.02, 528.00, 514.62, 525.15]
    ]);

    //chart type
    chart = anychart.financialChart();

    //chart title
    chart.title().text('Visualization');

    //adjust x scale type
    chart.xScale(anychart.scales.ordinal());

    //set data and adjust colors
    chart.ohlc(data)
        .fallingStroke('black', 1)
        .risingStroke('black', 1)
        .hoverFallingStroke('red', 3)
        .hoverRisingStroke('red', 3)
        .fallingFill('black')
        .risingFill('white');

    //set axes title
    chart.xAxis().title().text('Day');
    chart.yAxis().title().text('Price');

    //draw
    chart.container('container').draw();
});