{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

    //data
    var data = anychart.data.set([
        ['P1', 132, 102, 72, 65, 68],
        ['P2', 124, 89, 44, 38, 57]
    ]);

    //map data for the each series
    chart =1 = data.mapAs({x: [0], value: [1]});
    chart =2 = data.mapAs({x: [0], value: [2]});
    chart =3 = data.mapAs({x: [0], value: [3]});
    chart =4 = data.mapAs({x: [0], value: [4]});
    chart =5 = data.mapAs({x: [0], value: [5]});

    //chart type
    chart = anychart.columnChart();

    //set title
    chart.title().text('Colorizing');

    //set first series data and color
    series = chart.column(chart1);
    series.fill('#4A55C7');

    //set second series data and color
    series = chart.column(chart2);
    series.fill('#5EBD9B');

    //set third series data and color
    series = chart.column(chart3);
    series.fill('#B04A8A');

    //set forth series data and color
    series = chart.column(chart4);
    series.fill('#C7894A');

    //set fifth series data and color
    series = chart.column(chart5);
    series.fill('#BCBD46');

    //draw
    chart.container('container').draw();
});