{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

  var data = anychart.data.set([
    ['January', 10000],
    ['February', 12000],
    ['March', 18000],
    ['April', 11000],
    ['May', 9000]
  ]);
  chart = anychart.lineChart();

  chart.xAxis(0).orientation('top');
  chart.yAxis(0).orientation('right');

  chart.container('container');
  chart.spline(data);

  chart.draw();
});