{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

  // chart type
  var chart = anychart.scatterChart();

  // chart title
  chart.title().text("Sample Scatter Line and Spline Chart");

  // adjust inversion of both scales
  chart.xScale().inverted(true);
  chart.yScale().inverted(true);

  // data for top line series
  chart.marker([
    [-2, 4],
    [-1, 1],
    [0, 0],
    [1, 1],
    [2, 4]
  ]);

  // data for bottom line series
  chart.marker([
    [-2, -4],
    [-1, -1],
    [0, 0],
    [1, -1],
    [2, -4]
  ]);

  chart.container("container").draw();
});