{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

  //data for chart
  var dataSet = anychart.data.set([
    [3.7, 93],
    [3.701, 67],
    [4.8, 85],
    [5.7, 93],
    [5.701, 67],
    [6.8, 85]
  ]);

  //chart type
  chart = anychart.polar();

  //chart title
  chart.title().text('Labels and Tooltips');

  //disable minor ticks
  chart.yAxis().enabled(true).minorTicks().enabled(false);

  //set series data
  var series = chart.area(dataSet);

  //set series visualisation
  series
    .drawFirstLabel(false)
    .stroke('darkblue')                             //stroke color
    .fill('lightblue 0.8')                          //fill color
    .labels()                                       //labels settings
      .enabled(true)                                //enable labels
      .fontWeight(900);                             //labels font weight

  //visual setting for tooltips
  series.tooltip().content().fontWeight(400);       //settings for tooltip content font
  series.tooltip().contentFormatter(function(){     //adjust tooltip content
     var percent = this.value / (this.sum / 100);
     return 'Value: ' + this.value + '\nPercent: ' + percent.toFixed(2) + '%';
  });

  //draw chart
  chart.container('container').draw();
});