{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  //create data set on our data
  var dataSet = anychart.data.set([
    ["Winter", 12000, 12000, 10000],
    ["Spring", 13000, 12000, 17000],
    ["Summer", 25000, 15000, 19000],
    ["Autumn", 16000, 16000, 16000]
  ]);

  var seriesData_1 = dataSet.mapAs({x: [0], value: [1]});
  var seriesData_2 = dataSet.mapAs({x: [0], value: [2]});
  var seriesData_3 = dataSet.mapAs({x: [0], value: [3]});
  var seriesData_4 = dataSet.mapAs({x: [0], value: [4]});

  chart = anychart.barChart();

  chart.yScale().stackMode('value');

  chart.container('container');

  var series;

  series = chart.bar(seriesData_1);
  series = chart.bar(seriesData_2);
  series = chart.bar(seriesData_3);
  series = chart.bar(seriesData_4);

  chart.draw();
});