{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // Create bullet chart
  chart = anychart.bulletChart([
    {value: 637.166}                    // 2005 income
  ]);

  // Set chart size and position settings
  chart.bounds(0, '35%', '100%', '30%');

  // chart title
  chart.title().text('Revenue');

  // Create chart ranges
  chart.range().from(0).to(750);  // maximum annual income

  // Initiate chart drawing
  chart.container('container').draw();
});