{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

  // chart type
  chart = anychart.radar();

  // chart title
  chart.title().text('Tuning Axes Visualization');

  // disable minor ticks
  chart.yAxis().enabled(true).minorTicks().enabled(false);

  chart.xAxis().stroke({
    keys: ['.2 red', '.4 darkred', '0.6 blue', '0.8 green'],  // set colors position
    angle: -25,                                               // set angle of colors drawing
    thickness: 4                                              // set thickness
  });

  chart.yAxis().stroke({
    dash: '7 3',                                              // makes stroke dashed
    thickness: 2,                                             // set stroke thickness
    color: '#9900FF'                                          // set stroke color
  });

  // set data and type of series
  var series = chart.line([
    {x: "Administration", value:22},
    {x: "Sales", value:34},
    {x: "Marketing", value:16},
    {x: "Research", value:12},
    {x: "Support", value:38},
    {x: "Development", value:47}
  ]);

  // draw chart
  chart.container('container').draw();
});