{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    // chart type
    chart = anychart.areaChart();

    // chart title
    chart.title().text('Range Spline Area Chart');

    // set axes title
    chart.xAxis().title().enabled(false);
    chart.yAxis().title().enabled(false);

    // set data and define chart type
    chart.rangeSplineArea([
        {x: "A", low:0, high: 100},
        {x: "B", low:100, high: 200},
        {x: "C", low:60, high: 200},
        {x: "D", low:0, high: 60}
    ]).markers().enabled(true);

    // draw
    chart.container('container').draw();
});