{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    //chart type
    chart = anychart.columnChart();

    //chart title
    chart.title().text('Waterfall Chart');

    //set axes title
    chart.xAxis().title().enabled(false);
    chart.yAxis().title().enabled(false);

    //set data and define chart type
    chart.rangeColumn([
        {x: 'Initial', low: 0, high: 100, fill: 'green'},
        {x: 'Deposit', low: 100, high: 200, fill: 'green'},
        {x: 'Withdrawal', low: 60, high: 200, fill: 'red'},
        {x: 'Balance', low: 60, high: 0, fill: 'red'}
    ]);

    //draw
    chart.container('container').draw();
});