{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

    //data
    var data = anychart.data.set([
        ['January', 10000],
        ['February', 12000],
        ['March', 18000],
        ['April', 11000],
        ['May', 9000]
    ]);

    //chart type
    chart = anychart.areaChart();

    //set title
    chart.title().text('Visualization');

    //set axes titles
    chart.xAxis().title().text('Month');
    chart.yAxis().title().text('Sales');

    //setting data and adjusting chart visual appearance
    chart.area(data)
        .fill('Gold')
        .hoverFill("darkred")
        .stroke('#56561a', 4, 0.4)
        .hatchFill('diagonalbrick', 'gray')
        .hoverHatchFill('diagonalbrick', 'black');

    chart.yScale().minimum('8000').maximum('20001');

    chart.container('container').draw();
});