{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  chart = anychart.barChart();

  chart.container('container');

  chart.title().text('Range Bar Chart');

chart.rangeBar([
{ high: 0.6, low: 6.3},
{ high: 0.7, low: 6.1},
{ high: 1.9, low: 8.5},
{ high: 3.1, low: 10.8},
{ high: 5.7, low: 14.4},
{ high: 8.4, low: 16.9},
{ high: 10.6, low: 19.2},
{ high: 10.5, low: 18.9},
{ high: 8.5, low: 16.1},
{ high: 6.0, low: 12.5},
{ high: 3.0, low: 8.8},
{ high: 1.5, low: 6.9},
{ high: 5.1, low: 12.1}
     ]);

  chart.draw();
});