{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {
  var data = anychart.data.set([
    ['P1', 14, 24, 34, 42, 50],
    ['P2', 19, 26, 39, 45, 61],
    ['P3', 27, 38, 35, 41, 58]
  ]);



 var data_1 = data.mapAs({x: [0], value: [1]});
 var data_2 = data.mapAs({x: [0], value: [2]});
 var data_3 = data.mapAs({x: [0], value: [3]});
 var data_4 = data.mapAs({x: [0], value: [4]});
 var data_5 = data.mapAs({x: [0], value: [5]});

  chart = anychart.columnChart();

  var series;
  series = chart.column(data_1);
  series.fill('#EEEEEE');
  series.hatchFill('diagonalcross');
  series = chart.column(data_2);
  series.fill('#EEEEEE');
  series.hatchFill('diagonalbrick');
  series = chart.column(data_3);
  series.fill('#EEEEEE');
  series.hatchFill('zigzag');
  series = chart.column(data_4);
  series.fill('#EEEEEE');
  series.hatchFill('checkerboard');
  series = chart.column(data_5);
  series.fill('#EEEEEE');
  series.hatchFill('percent30');
  
  chart.yScale().maximum('65');
  chart.container('container');
  chart.draw();
  });