{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

    //data
    var data = anychart.data.set([
        ['Department Stores1', 637166],
        ['Discount Stores', 721630],
        ['Men\'s/Women\'s Specialty Stores', 148662],
        ['Juvenile Specialty Stores', 78662],
        ['All other outlets', 90000]
    ]);

    //chart type
    chart = anychart.barChart();

    //set title
    chart.title().text('Visualization');

    //set axes titles
    chart.xAxis().title().text('Retail Channel');
    chart.yAxis().title().text('Sales');

    //set data and adjust visualization
    chart.bar(data)
        .fill('Gold')
        .hoverStroke("darkred", 4, 1)
        .stroke('#56561a', 4, 1)
        .hatchFill('diagonalbrick', 'gray')
        .hoverHatchFill('diagonalbrick', 'darkred');

    //draw
    chart.container('container').draw();
});