{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  chart = anychart.cartesianChart();

  chart.xAxis();

  chart.yAxis();

 chart.grid()
        .layout('horizontal');

    chart.minorGrid()
        .evenFill('none')
        .oddFill('none')
        .stroke('black 0.075')
        .layout('vertical');

  chart.marker([
   ['2000', 1100],
   ['2001', 880],
   ['2002', 1100],
   ['2003', 1500],
   ['2004', 921],
   ['2005', 1000],
   ['2006', 1400]
  ]);
    chart.xAxis(0).orientation('top');
  chart.yAxis(0).orientation('right');
  chart.container('container');

  chart.draw();
});