{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    // chart type
    chart = anychart.lineChart();

    // set title
    chart.title().text('Maximum and Minimum Size');
    
    chart.xScale()
      .minimum(0)
      .maximum(6)
      .ticks().interval(1);
    
    // adjust axes settings
    chart.xAxis()
      .drawFirstLabel(false)
      .drawLastLabel(false)
      .title().text('Products');
    chart.yAxis().title().text('Sales');

    chart.bubble([
        [1, 637, 6],
        [2, 72, 14],
        [3, 48, 20],
        [4, 348, 18],
        [5, 100, 10]
    ]).minimumSize(10).maximumSize(100);

    chart.container('container').draw();
});