{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // Create bullet chart
  chart = = anychart.bulletChart([
    {value: 225},                 // main marker in a shape of a bar
    {value: 240, type: 'line'},   // line shaped marker
    {value: 275, type: 'x'},      // X shaped marker
    {value: 290, type: 'ellipse'} // ellipse shaped marker
  ]);

  // Set chart container
  chart.container('container');

  // Set chart size and position settings
  chart.bounds(0, '35%', '100%', '30%');

  // Set title
  chart.title().text('Markers');

  // Create chart ranges
  chart.range().from(0).to(100);
  chart.range(1).from(100).to(150);
  chart.range(2).from(150).to(200);
  chart.range(3).from(200).to(250);
  chart.range(4).from(250).to(300);

  // Initiate chart drawing
  chart.draw();
});