{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

    //chart type
    chart = anychart.columnChart();

    //set title
    chart.title().text('Padding');

    //set data
    chart.column([10000, 12000]);
    chart.column([12000, 15000]);
    chart.column([18000, 16000]);
    chart.column([11000, 13000]);
    chart.column([9000, 19000]);

    //adjust padding
    chart.barsPadding(-0.1);
    chart.barGroupsPadding(2);

    //draw
    chart.container('container').draw();
});