{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

    var chart = anychart.scatterChart();
    chart.title()
        .useHtml(true)
        .fontWeight(400)
        .text('<a style="font-weight: 900;">Springfield\'s Clusters</a><br><a style="font-weight:400; color: green; font-size: 14px">Green bubble: LQ< 0.95;</a> <a style="color: red; font-size: 14px">Red bubble: LQ > 1.1149</a> ')
        .hAlign('center');

    chart.grid(0)
        .oddFill('#F9F9F9')
        .evenFill('#FFFFFF')
        .layout(anychart.enums.Layout.HORIZONTAL);

    chart.minorGrid(0)
        .evenFill('none')
        .oddFill('none')
        .stroke('black 0.1')
        .layout(anychart.enums.Layout.HORIZONTAL);

    chart.grid(1)
        .evenFill('none')
        .oddFill('none')
        .layout(anychart.enums.Layout.VERTICAL);

    chart.minorGrid(1)
        .evenFill('none')
        .oddFill('none')
        .stroke('black 0.1')
        .layout(anychart.enums.Layout.VERTICAL);

    // y scale settings
    chart.yScale()
        .minimum(-250)
        .maximum(100)
        .ticks()
            .interval(50);

    // adjust y axis labels representation
    chart.yAxis().labels().textFormatter(function(){
        return this.value + '%'
    });

    chart.yAxis().title().text('Job Growth');

    // x scale settings
    chart.xScale()
        .minimum(20000)
        .maximum(70000)
        .ticks()
            .interval(10000);

    //adjust x axis labels representation
    chart.xAxis().labels().textFormatter(function(){
        return '$' + this.value / 1000 + ',000'
    });

    chart.xAxis().title().text('Wages');

    var data = anychart.data.set([
        {name: 'Education', x:60000, y:-70, size: 2},
        {name: 'Metals Fab.', x: 42000, y:-160, size: 5},
        {name: 'Agriculture', x: 26000, y: -100, size 4}
    ]);

    var view = data.mapAs();

    //data for line series
    chart.bubble(data).fill('blue')
        .minimumSize(10)
        .maximumSize(30)
        .stroke('darkred')
        .labels().textFormatter(function(){
            return view.get(this.index, 'name');
        });

    chart.container('container').draw();
});