{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
 chart = anychart.pieChart([
   {x: 'P1', value: 232, hatchFill: 'diagonalcross', fill: '#EEEEEE'},
   {x: 'P2', value: 224, hatchFill: 'zigzag', fill: '#EEEEEE'},
   {x: 'P3', value: 252, hatchFill: 'horizontal', fill: '#EEEEEE'},
   {x: 'P4', value: 219, hatchFill: 'vertical', fill: '#EEEEEE'},
   {x: 'P5', value: 169, hatchFill: 'dashedbackwarddiagonal', fill: '#EEEEEE'},
   {x: 'P6', value: 217, hatchFill: 'grid', fill: '#EEEEEE'},
   {x: 'P7', value: 175, hatchFill: 'dashedforwarddiagonal', fill: '#EEEEEE'},
   {x: 'P8', value: 199, hatchFill: 'dashedhorizontal', fill: '#EEEEEE'},
   {x: 'P9', value: 297, hatchFill: 'plaid', fill: '#EEEEEE'},
   {x: 'P10', value: 317, hatchFill: 'weave', fill: '#EEEEEE'}
  ]);
  chart.labels().enabled(false);
  chart.container('container');
  chart.draw();
});