{:tags []
     :is_new false
     :exports "chart"}


anychart.onDocumentReady(function() {
  //create data set on our data
  dataSet = anychart.data.set([81,34.5]);

  gauge = anychart.circularGauge();
  gauge.container('container').draw();

});