{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

  //data for chart
  var dataSet = anychart.data.set([
    ['Product A', 90],
    ['Product B', 65],
    ['Product C', 73],
    ['Product D', 88],
    ['Product E', 75],
    ['Product F', 100]
  ]);

  //chart type
  chart = anychart.radar();

  //chart title
  chart.title().text('Labels and Tooltips');

  //disable minor ticks
  chart.yAxis().enabled(true).minorTicks().enabled(false);

  //set series data
  var series = chart.area(dataSet);

  //set series visualisation
  series
    .stroke('darkblue')     //stroke color
    .fill('lightblue 0.8')  //fill color
    .labels()               //labels settings
      .enabled(true)        //enable labels
      .fontWeight(900);     //labels font weight

  //visual setting for tooltips
  series.tooltip().content().fontWeight(400);       //settings for tooltip content font
  series.tooltip().contentFormatter(function(){     //adjust tooltip content
     var percent = this.value / (this.sum / 100);
     return 'Month: ' + this.x + '\nSales: ' + this.value + '$' + '\nYear: 2003' + '\nPercent: ' + percent.toFixed(2) + '%';
  });

  //draw chart
  chart.container('container').draw();
});