{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

  // data
  var data = anychart.data.set([
    ['January', 10000],
    ['February', 12000],
    ['March', 18000],
    ['April', 11000],
    ['May', 9000]
  ]);

  // chart type
  chart = anychart.areaChart();

  // set axes titles
  chart.xAxis().title().text('Month');
  chart.yAxis().title().text('Sales');

  // title
  chart.title().text('Labels and Tooltips');

  // set data
  var series= chart.area(data);

  // set and adjust labels
  series.labels()
    .enabled(true)
    .rotation(90)
    .anchor('rightBottom')
    .textFormatter(function(point){
        return point.x;
    });

  // set and adjust tooltips
  series.tooltip().title()
    .enabled(true)
    .text('Information');
  series.tooltip().contentFormatter(function(){
    return 'Month: ' + this.x + '\nSales: ' + this.value
  });

  // draw chart
  chart.container('container').draw();
});