{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

    // data
    var data = anychart.data.set([
      {x: 'January', value: 10000},
      {x: 'February', value: 12000},
      {x: 'March', value: 18000},
      {x: 'April', value: 11000},
      {x: 'May', value: 9000}
    ]);

    // chart type
    chart = anychart.areaChart();

    // chart title
    chart.title().text('Image fill');

    // set axes titles
    chart.xAxis().title().text('Retail Channel');
    chart.yAxis().title().text('Sales');

    // adjust chart fill mode and set a picture instead of a color
    chart.area(data).fill({
            src: 'http://static.anychart.com/underwater.jpg',
            mode: acgraph.vector.ImageFillMode.STRETCH
        });

    // draw chart
    chart.container('container').draw();
});