{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    //chart type
    chart = anychart.lineChart();

    //set title
    chart.title().text('Maximum and Minimum Size');

    //set axes titles
    chart.xAxis().title().text('Products');
    chart.yAxis().title().text('Sales');

    chart.bubble([
        ['Product A', 637, 6],
        ['Product B', 472, 14],
        ['Product С', 48, 20],
        ['Product D', 348, 18],
        ['Product E', 100, 10]
    ]).minimumSize(10).maximumSize(100);

    chart.container('container').draw();
});