{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  var container ='container';

  chart = anychart.lineChart();

  chart.bubble([
    ['Product A', 4, 10],
    ['Product B', 5, 6],
    ['Product C', 6, 17]
  ]).minimumSize(2).maximumSize(40);
  chart.container('container');
  chart.draw();
});