{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {
  chart = anychart.columnChart();
  chart.container('container');
  chart.title().text('Column Chart');
  chart.column([
    ['John' , 10000],
    ['Jake' , 12000],
    ['Peter' , 18000],
    ['James' , 11000],
    ['Mary' , 9000]
  ]);
    chart.xAxis(0).orientation('top');
  chart.yAxis(0).orientation('right');
  chart.draw();
});