{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    //chart type
    chart = anychart.lineChart();

    //set title
    chart.title().text('Bubble chart');

    //set axes titles
    chart.xAxis().title().text('Products');
    chart.yAxis().title().text('Units Sold');

    //define chart type
    chart.bubble([
        ['Product A', 4, 10],
        ['Product B', 5, 6],
        ['Product C', 6, 17]
    ]).minimumSize(2).maximumSize(40);

    //draw
    chart.container('container').draw();
});