{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

  // set data and chart type
  var chart = anychart.pieChart([
    {name: "Department Stores", value: 637166, fill: "Rgb(77,180,77)"},
    {name: "Discount Stores", value: 721630, fill:"Rgb(180,77,77)"},
    {name: "Men\'s/Women\'s Stores", value: 148662, fill:"#C6D1A5"}
  ]);

  // chart title
  chart.title().text("Colors");

  // disable legend
  chart.labels().enabled(false);

  // draw
  chart.container("container").draw();
});