{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // Create bullet chart
  var chart = anychart.bulletChart([{value: 5}]);
  
  // Invert scale
  chart.scale().inverted(true);
  
  // Create chart ranges
  chart.range().from(0).to(5);
  chart.range(1).from(5).to(10);
  chart.range(2).from(10).to(15);

  // Chart title
  chart.title().text('Inverted\nChart').hAlign('center');

  // Set chart size and position settings
  chart.bounds(0, '35%', '100%', '30%');
  
  // chart container
  chart.container('container');

  // Initiate chart drawing
  chart.draw();

});