{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

  chart = anychart.scatterChart();

  chart.title().text('Springfield\'s Clusters\nLables and Tooltips Settings')
    .hAlign('center');

  chart.grid(0)
    .oddFill('#F9F9F9')
    .evenFill('#FFFFFF')
    .layout(anychart.enums.Layout.HORIZONTAL);

  chart.minorGrid(0)
    .evenFill('none')
    .oddFill('none')
    .stroke('black 0.1')
    .layout(anychart.enums.Layout.HORIZONTAL);

  chart.grid(1)
    .evenFill('none')
    .oddFill('none')
    .layout(anychart.enums.Layout.VERTICAL);

  chart.minorGrid(1)
    .evenFill('none')
    .oddFill('none')
    .stroke('black 0.1')
    .layout(anychart.enums.Layout.VERTICAL);

  // y scale settings
  chart.yScale()
    .minimum(-250)
    .maximum(100)
    .ticks()
      .interval(50);

  // adjust y axis labels representation
  chart.yAxis().labels().textFormatter(function(){
    return this.value + '%'
  });

  chart.yAxis().title().text('Job Growth');

  // x scale settings
  chart.xScale()
    .minimum(20000)
    .maximum(70000)
    .ticks()
      .interval(10000);

  //adjust x axis labels representation
  chart.xAxis().labels().textFormatter(function(){
    return '$' + this.value / 1000 + ',000'
  });

  chart.xAxis().title().text('Wages');

  // data for chart
  var data = anychart.data.set([
    {name: 'Education', x:60000, y:-70, size: 2},
    {name: 'Metals Fab.', x: 42000, y:-160, size: 5},
    {name: 'Agriculture', x: 26000, y: -100, size: 4}
  ]);

  //map data for future usage
  var view = data.mapAs();

  //data for line series
  var bubble = chart.bubble(data);

  // set labels and adjust visualization
  bubble.fill('blue')
    .hoverFill('#999999')
    .hoverHatchFill('zigzag')
    .minimumSize(10)
    .maximumSize(30)
    .stroke('darkblue')
    .hoverStroke('#000000')
    .labels()
      .enabled(true)
      .position('bottom')
      .anchor('topCenter')
      .fontColor('blue')
      .fontSize(14)
      .fontWeight(900)
      .textFormatter(function(){
        return view.get(
          this.index,           // index of a current point is used to get row with point's data
          'name'                // field to display
        );
      });

  // set tooltips
  bubble.tooltip().contentFormatter(function(){
    return view.get(this.index, 'name') + '\nWages: $' + this.x / 1000 + ',000.00' + '\nJob Growth: ' + this.value;
  });

  chart.container('container').draw();
});