{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

  //data for chart
  var dataSet = anychart.data.set([
    ['Product A', 90],
    ['Product B', 65],
    ['Product C', 73],
    ['Product D', 88],
    ['Product E', 75],
    ['Product F', 100]
  ]);

  //chart type
  chart = anychart.radar();

  //chart title
  chart.title().text('Custom Radius size');

  //set chart radius
  chart.yScale()
    .minimum(50)        //minimum radius value
    .maximum(120)       //maximum radius value
    .ticks()
      .interval(10);  //set ticks interval

  //disable minor ticks
  chart.yAxis().enabled(true).minorTicks().enabled(false);

  //set data and adjust visualisation
  chart.area(dataSet).fill('red 0.4').stroke('darkred');

  //draw chart
  chart.container('container').draw();
});