{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  chart = anychart.areaChart();

  chart.container('container');

  chart.rangeArea([
{x: 'January', low: 6.1, high: 0.7},
{x: 'February', low: 6.3, high: 0.6},
{x: 'March', low: 8.5, high: 1.9},
{x: 'April', low: 10.8, high: 3.1},
{x: 'May', low: 14.4, high: 5.7},
{x: 'June', low: 16.9, high: 8.4},
{x: 'July', low: 19.2, high: 10.6},
{x: 'August', low: 18.9, high: 10.5},
{x: 'September', low: 16.1, high: 8.5},
{x: 'October', low: 12.5, high: 6.0},
{x: 'November', low: 8.8, high: 3.0},
{x: 'December', low: 6.9, high: 1.5}
]);

  chart.draw();
});