{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  var data = [
    ['28-Aug-07', 50.53, 50.98, 0.79, 5.40],
    ['29-Aug-07', 10.84, 50.30, 5.23, 5.88],
    ['30-Aug-07', 6.36, 50.40, 5.58, 50.40],
    ['31-Aug-07', 51.10, 51.50, 5.47, 9],
    ['4-Sep-07', 20, 52.00, 5.62, 20]
  ];
  chart = anychart.financialChart();
  chart.xScale(anychart.scales.ordinal());
  chart.candlestick(data);
  var logScale = anychart.scales.log();
  logScale.minimum(0.1).maximum(100);
  chart.yScale(logScale);
  chart.container('container');
  chart.draw();
});