var data = new anychart.data.Set([
        {name: 'January', y: 10000},
        {name: 'February', y: 12000},
        {name: 'March', y: 18000},
        {name: 'April', y: 11000},
        {name: 'May', y: 9000}
    ]);
    chart = anychart.areaChart(data);
    chart.area(data).fill({
            src: 'http://static.anychart.com/kitty.png',
            mode: acgraph.vector.ImageFillMode.TILE
        })
    chart.container('container').draw();