{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {
  
  // define chart type and set data
  var chart = anychart.pieChart([
    {value: 232, hatchFill: 'diagonalcross', fill: '#EEE', stroke: null},
    {value: 224, hatchFill: 'zigzag', fill: '#EEE', stroke: null},
    {value: 252, hatchFill: 'horizontal', fill: '#EEE', stroke: null},
    {value: 219, hatchFill: 'vertical', fill: '#EEE', stroke: null},
    {value: 169, hatchFill: 'dashedbackwarddiagonal', fill: '#EEE', stroke: null},
    {value: 217, hatchFill: 'grid', fill: '#EEE', stroke: null},
    {value: 175, hatchFill: 'dashedforwarddiagonal', fill: '#EEE', stroke: null},
    {value: 199, hatchFill: 'dashedhorizontal', fill: '#EEE', stroke: null},
    {value: 297, hatchFill: 'plaid', fill: '#EEE', stroke: null},
    {value: 317, hatchFill: 'weave', fill: '#EEE', stroke: null}
  ]);
  
  chart.labels().enabled(false);
  
  // draw chart
  chart.container('container').draw();
});