{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {
 chart = anychart.pieChart([
    ['Department Stores', 637166],
    ['Discount Stores', 721630],
    ['Men\'s/Women\'s Stores', 148662],
    ['Juvenile Specialty Stores', 78662],
    ['All other outlets', 90000]
  ]);

  chart.container('container');

  chart.innerRadius('30%');

  chart.draw();
});