{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // data
  var data = anychart.data.set([
      [1, 14, 2, 24, 2, 34, 2, 42, 2, 50, 2],
      [2, 19, 2, 26, 1, 39, 2, 45, 2, 61, 2],
      [3, 27, 3, 38, 3, 35, 2, 41, 2, 58, 2]
  ]);

  // map data for the each series
  var seriesData_1 = data.mapAs({x: [0], value: [1], size:[2]});
  var seriesData_2 = data.mapAs({x: [0], value: [3], size:[4]});
  var seriesData_3 = data.mapAs({x: [0], value: [5], size:[6]});
  var seriesData_4 = data.mapAs({x: [0], value: [7], size:[8]});
  var seriesData_5 = data.mapAs({x: [0], value: [9], size:[10]});

  // chart type
  chart = anychart.scatter();

  // chart title
  chart.title().text('Hatches');

  // set series data and adjust hatch
  chart.bubble(seriesData_1)
    .minimumSize(10)
    .maximumSize(30)
    .hatchFill('diagonalcross')
    .color('#EEEEEE');

  // set series data and adjust hatch
  chart.bubble(seriesData_2)
    .minimumSize(10)
    .maximumSize(30)
    .color('#EEEEEE')
    .hatchFill('diagonalbrick');

  // set series data and adjust hatch
  chart.bubble(seriesData_3)
    .minimumSize(10)
    .maximumSize(30)
    .color('#EEEEEE')
    .hatchFill('zigzag');

  // set series data and adjust hatch
  chart.bubble(seriesData_4)
    .minimumSize(10)
    .maximumSize(30)
    .color('#EEEEEE')
    .hatchFill('checkerboard');

  // set series data and adjust hatch
  chart.bubble(seriesData_5)
    .minimumSize(10)
    .maximumSize(30)
    .color('#EEEEEE')
    .hatchFill('percent30');

  chart.xScale()
    .minimum(0)
    .maximum(4)
    .ticks().interval(1);

  // draw
  chart.container('container').draw();
});