{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

    //data
    var data = anychart.data.set([
        ['January', 10000],
        ['February', 12000],
        ['March', 18000],
        ['April', 11000],
        ['May', 9000]
    ]);

    //setting chart type
    chart = anychart.areaChart();

    //set title
    chart.title().text('Spline Chart');

    //set axes titles
    chart.xAxis().title().text('Month');
    chart.yAxis().title().text('Sales');

    //set data and define chart type
    chart.splineArea(data);

    //draw chart
    chart.container('container').draw();
});