{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {
  
  var chart = anychart.funnel([
    {name: 'Fantasy', value: 637166},
    {name: 'Science Fiction', value: 721630},
    {name: 'Detective', value: 148662},
    {name: 'Classics', value: 78662},
    {name: 'Textbooks', value: 90000}
  ]);
  
  // disable padding between parts of the chart
  chart.pointsPadding(0);
  
  chart.title().text('Disabled Padding');
  
  // set fixed width for the funnel
  chart.headWidth(300).neckWidth(75);

  // draw chart
  chart.container('container').draw();
});