{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  var container ='container';
  var data = anychart.data.set([
    ['P1', 132, 1, 102, 3, 72, 2, 65, 5, 68, 3],
    ['P2', 124, 2, 89, 1, 44, 2, 38, 1, 57, 3]
  ]);
  var seriesData_1 = data.mapAs({x: [0], value: [1], size:[2]});
  var seriesData_2 = data.mapAs({x: [0], value: [3], size:[4]});
  var seriesData_3 = data.mapAs({x: [0], value: [5], size:[6]});
  var seriesData_4 = data.mapAs({x: [0], value: [7], size:[8]});
  var seriesData_5 = data.mapAs({x: [0], value: [9], size:[10]});
  chart = anychart.lineChart();
  series = chart.bubble(seriesData_1);
  series.minimumSize(10).maximumSize(30).fill('#4A55C7');
  series = chart.bubble(seriesData_2);
  series.minimumSize(10).maximumSize(30).fill('#5EBD9B');
  series = chart.bubble(seriesData_3);
  series.minimumSize(10).maximumSize(30).fill('#B04A8A');
  series = chart.bubble(seriesData_4);
  series.minimumSize(10).maximumSize(30).fill('#C7894A');
  series = chart.bubble(seriesData_5);
  series.minimumSize(10).maximumSize(30).fill('#BCBD46');
  chart.container('container');
  chart.draw();
});