{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

  //data for chart
  var dataSet = anychart.data.set([
    ["Product A", 222],
    ["Product B", 2431],
    ["Product C", 36],
    ["Product D", 5243],
    ["Product E", 61813],
    ["Product F", 5321],
    ["Product G", 11567],
    ["Product H", 3],
    ["Product I", 2187]
  ]);

  //chart type
  chart = anychart.radarChart();

  //chart title
  chart.title().text('Radar Chart with Logarithmic Scale');

  var logScale = anychart.scales.log();     // create logarithmic scale
  logScale.minimum(10).maximum(100000);      // set minimum and maximum value for the scale
  chart.yScale(logScale);                   // set logarithmic scale as y scale for the chart

  //set data and adjust visualisation
  chart.area(dataSet).fill('lightblue 0.7').stroke('blue');

  //draw chart
  chart.container('container').draw();
});