{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    // chart type
    chart = anychart.lineChart();

    // set title
    chart.title().text('Fixed Minimum and Maximum Scale Value');
    
    chart.xScale()
      .minimum(0)
      .maximum(4)
      .ticks().interval(1);
    
    // adjust axes settings
    chart.xAxis()
      .drawFirstLabel(false)
      .drawLastLabel(false)
      .title().text('Products');
    chart.yAxis().title().text('Sales');

    // set data
    chart.bubble([
        [1, 637, 6],
        [2, 472, 14],
        [3, 48, 10]
    ]).minimumSize(10).maximumSize(30);

    // adjust minimum and maximum y scale value
    chart.yScale().minimum(-100).maximum(1000).ticks().interval(100);

    // draw
    chart.container('container').draw();
});