{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    //chart type
    chart = anychart.lineChart();

    //set title
    chart.title().text('Visualization');

    //set axes titles
    chart.xAxis().title().text('Products');
    chart.yAxis().title().text('Sales');

    //define chart type and set visualization
    chart.bubble([
        ['Product A', 637, 6],
        ['Product B', 472, 14],
        ['Product С', 48, 10]
    ])
        .minimumSize(10)
        .maximumSize(30)
        .fill('gold')
        .hatchFill('diagonalbrick', 'gray')
        .hoverHatchFill('diagonalbrick', 'darkred')
        .stroke("Rgb(86,86,26)", 4)
        .hoverStroke("darkred", 6);

    //draw
    chart.container('container').draw();
});