{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    //chart type
    chart = anychart.lineChart();

    //set title
    chart.title().text('Scales Management');

    //set axes titles
    chart.xAxis().title().text('Products');
    chart.yAxis().title().text('Sales');

    //set data
    chart.bubble([
        ['Product A', 637, 6],
        ['Product B', 472, 14],
        ['Product C', 48, 10]
    ]).minimumSize(10).maximumSize(30);

    //adjust Y scale
    chart.yScale().inverted(true);

    //draw
    chart.container('container').draw();
});