{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

    // data
    var data = anychart.data.set([
        ['Department Stores', 637166],
        ['Discount Stores', 721630],
        ['Men\'s/Women\'s Specialty Stores', 148662],
        ['All other outlets', 90000]
    ]);

    // chart type
    chart = anychart.barChart();

    // set title
    chart.title().text('Adjusted Axes Position');

    // set axes titles
    chart.xAxis().title().text('Retail Channel');
    chart.yAxis().title().text('Sales');

    // set data
    chart.bar(data);

    // adjust axes orientation
    chart.xAxis(0).orientation('right');
    chart.yAxis(0).orientation('top');

    // draw chart
    chart.container('container').draw();
});