{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  // Create stage for all charts
  stage = anychart.graphics.create('container');

  // Create bullet chart
  var verticalChart = anychart.bulletChart([{value: 5}]);
  // Set chart to render on stage
  verticalChart.container(stage);
  // Chart title
  verticalChart.title().text('Vertical Layout').hAlign('center');
  // Set chart size and position settings
  verticalChart.bounds('80%', 0, '20%', '100%');
  // Set chart layout
  verticalChart.layout('vertical');
  // Create chart ranges
  verticalChart.range().from(0).to(5);
  verticalChart.range(1).from(5).to(10);
  verticalChart.range(2).from(10).to(15);
  // Initiate chart drawing
  verticalChart.draw();

  // Create second bullet chart
  var horizontalChart = anychart.bulletChart([{value: 11}]);
  // Set chart to render on stage
  horizontalChart.container(stage);
  // Set chart size and position settings
  horizontalChart.bounds(0, '35%', '80%', '30%');
  // Set chart layout
  horizontalChart.layout('horizontal');
  // Chart title
  horizontalChart.title().text('Horizontal\nLayout').hAlign('center');
  // Create chart ranges
  horizontalChart.range().from(0).to(5);
  horizontalChart.range(1).from(5).to(10);
  horizontalChart.range(2).from(10).to(15);
  // Initiate chart drawing
  horizontalChart.draw();

});