{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

    //data
    var data = anychart.data.set([
        {name: 'January', y: 10000},
        {name: 'February', y: 12000},
        {name: 'March', y: 18000},
        {name: 'April', y: 11000},
        {name: 'May', y: 9000}
    ]);

    //chart type
    chart = anychart.areaChart();

    //chart title
    chart.title().text('Image fill');

    //set axes titles
    chart.xAxis().title().text('Retail Channel');
    chart.yAxis().title().text('Sales');

    //adjust chart fill mode and set picture instead of color
    chart.area(data).fill({
            src: 'http://static.anychart.com/anychart_site_header.png',
            mode: acgraph.vector.ImageFillMode.TILE
        });

    //draw chart
    chart.container('container').draw();
});