{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

  // data for chart
  var dataSet = anychart.data.set([
    ["Greeting Cards", 65],
    ["Plush Toys", 21],
    ["Romantic Dinner", 44],
    ["Perfume/Cologne", 12],
    ["Candy", 38],
    ["Jewelry", 11],
    ["Flowers", 32],
    ["Gift Cards", 29],
    ["Other Gifts", 17]
  ]);

  // chart type
  var chart = anychart.radar();

  // chart title
  chart.title().text("Most Popular Ways to Celebrate Valentine’s Day");

  // set start angle of the chart
  chart.startAngle(90);

  // set data and adjust visualisation
  var series = chart.line(dataSet);

  // disable tooltips
  series.tooltip().enabled(false);

  // enable markers on series
  series.markers().enabled(true);

  // draw chart
  chart.container("container").draw();
});