{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

  // set data and chart type
  var chart = anychart.pieChart([
    ["Department Stores", 637166],
    ["Discount Stores", 721630],
    ["Men\'s/Women\'s Stores", 148662],
    ["Juvenile Specialty Stores", 78662],
    ["All other outlets", 90000]
  ]);

  chart.title().text("Doughnut Chart");

  // set radius inside pie chart to turn it into doughnut chart
  chart.innerRadius("30%");

  // draw
  chart.container("container").draw();
});