{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

    //chart type
    chart = anychart.columnChart();

    //set title
    chart.title().text('Column Chart');

    //set axes titles
    chart.xAxis().title().text('Manager');
    chart.yAxis().title().text('Sales');

    //set data and adjust visualization
    chart.column([
        ['John' , 10000],
        ['Jake' , 12000],
        ['Peter' , 18000],
        ['James' , 11000],
        ['Mary' , 9000]
    ]).fill('Gold')
        .hoverStroke("darkred", 4)
        .stroke('#56561a', 4)
        .hatchFill('diagonalbrick', 'gray')
        .hoverHatchFill('diagonalbrick', 'darkred');

    //draw
    chart.container('container').draw();
});