{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

  // data
  var data = anychart.data.set([
    ["January", 10000],
    ["February", 12000],
    // set and adjust marker
    {
      x: "March", 
      value: 18000, 
      marker:{type:"star5", fill:"gold", size: 12, enabled: true},
      hoverMarker: {size: 22}
    },
    ["April", 11000],
    ["May", 9000]
  ]);

  // chart type
  var chart = anychart.area();

  // title
  chart.title("Markers");

  // set axes titles
  var xAxis = chart.xAxis();
  xAxis.title("Month");
  var yAxis = chart.yAxis();
  yAxis.title("Sales");

  // define chart type
  chart.splineArea(data);

  // draw chart
  chart.container("container");
  chart.draw();
});