{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  chart = anychart.cartesianChart();
  chart.xAxis();
  chart.yAxis();

 chart.grid()
   .layout('horizontal');

 chart.minorGrid()
   .evenFill('none')
   .oddFill('none')
   .stroke('black 0.075')
   .layout('vertical');
 data = anychart.data.set([
   ['P1', 14, 24, 34, 42, 50],
   ['P2', 19, 26, 39, 45, 61],
   ['P3', 27, 38, 35, 41, 58]
   ]);
  var data1 = data.mapAs({x: [0], value: [5]});
  var data2 = data.mapAs({x: [0], value: [4]});
  var data3 = data.mapAs({x: [0], value: [3]});
  var data4 = data.mapAs({x: [0], value: [2]});
  var data5 = data.mapAs({x: [0], value: [1]});
 chart.marker(data1)
   .hatchFill('diagonalcross')
   .hoverSize(30)
   .size(20)
   .fill('#EEEEEE')
   .type('star5');
 chart.marker(data2)
   .hoverSize(30)
   .size(20)
   .fill('#EEEEEE')
   .hatchFill('diagonalbrick')
   .type('star4');
 series = chart.marker(data3)
   .hoverSize(30)
   .size(20)
   .fill('#EEEEEE')
   .hatchFill('zigzag');
 series = chart.marker(data4)
   .hoverSize(30)
   .size(20)
   .fill('#EEEEEE')
   .hatchFill('checkerboard')
   .type('square');
 series = chart.marker(data5)
   .hoverSize(30)
   .size(20)
   .fill('#EEEEEE')
   .hatchFill('percent30')
   .type('circle');
 chart.container('container');

 chart.draw();
});