{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  // Create stage for all charts
  stage = anychart.graphics.create('container');

  // Create bullet chart
  var chart_1 = anychart.bulletChart([{value: 637.166}]);
  // Set chart to render on stage
  chart_1.container(stage);
  // Set chart size and position settings
  chart_1.bounds(0, 0, '100%', '20%');
  // Set chart layout
  chart_1.layout('horizontal');
  //chart title
  chart_1.title().text('Department Store').width('20%');
  // Create chart ranges
  chart_1.range().from(0).to(737.166);
  chart_1.range(1).from(737.166).to(957.309);
  // Initiate chart drawing
  chart_1.draw();

  // Create second bullet chart
  var chart_2 = anychart.bulletChart([{value: 721.630}]);
  // Set chart to render on stage
  chart_2.container(stage);
  // Set chart size and position settings
  chart_2.bounds(0, '20%', '100%', '20%');
  // Set chart layout
  chart_2.layout('horizontal');
  //chart title
  chart_2.title().text('Discount Stores').width('20%');
  // Create chart ranges
  chart_2.range().from(0).to(537.166);
  chart_2.range(1).from(537.166).to(879.252);
  // Initiate chart drawing
  chart_2.draw();

  // Create bullet chart
  var chart_3 = anychart.bulletChart([{value: 148.662}]);
  // Set chart to render on stage
  chart_3.container(stage);
  // Set chart size and position settings
  chart_3.bounds(0, '40%', '100%', '20%');
  // Set chart layout
  chart_3.layout('horizontal');
  //chart title
  chart_3.title().text('Men\'s/Women\'s Specialty Stores').width('20%');
  // Create chart ranges
  chart_3.range().from(0).to(188.662);
  chart_3.range(1).from(188.662).to(512.203);
  // Initiate chart drawing
  chart_3.draw();

  // Create bullet chart
  var chart_4 = anychart.bulletChart([{value: 78.662}]);
  // Set chart to render on stage
  chart_4.container(stage);
  // Set chart size and position settings
  chart_4.bounds(0, '60%', '100%', '20%');
  // Set chart layout
  chart_4.layout('horizontal');
  //chart title
  chart_4.title().text('Juvenile Specialty Stores').width('20%');
  // Create chart ranges
  chart_4.range().from(0).to(178.662);
  // Initiate chart drawing
  chart_4.draw();

  // Create bullet chart
  var chart_5 = anychart.bulletChart([{value: 90}]);
  // Set chart to render on stage
  chart_5.container(stage);
  // Set chart size and position settings
  chart_5.bounds(0, '80%', '100%', '20%');
  // Set chart layout
  chart_5.layout('horizontal');
  //chart title
  chart_5.title().text('All other outlets').width('20%');
  // Create chart ranges
  chart_5.range().from(0).to(89);
  chart_5.range(1).from(0).to(124.812);
  // Initiate chart drawing
  chart_5.draw();
});