{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // Create bullet chart
  var chart = anychart.bulletChart([
    {value: 637.166}                    // 2005 income
  ]);
  
  // Set chart ranges
  chart.range().from(0).to(750);        // maximum annual income

  // Set chart size and position settings
  chart.bounds(0, 0, '100%', 125);

  // chart title
  chart.title().text('Revenue');

  // Initiate chart drawing
  chart.container('container').draw();
});