{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

    //data
    var dataSet = anychart.data.set([
        ['January', '10000', '12000'],
        ['February', '12000', '15000'],
        ['March', '18000', '16000'],
        ['April', '11000', '15000'],
        ['May', '9000', '14000'],
    ]);

    //map data for the each series
    var seriesData_2 = dataSet.mapAs({x: [0], value: [1]});
    var seriesData_1 = dataSet.mapAs({x: [0], value: [2]});

    //chat type
    chart = anychart.lineChart();

    //title
    chart.title().text('Multi-series Line Chart');

    //set axes titles
    chart.xAxis().title().text('Sales');
    chart.yAxis().title().text('Month');

    //set series data
    chart.line(seriesData_1);
    chart.line(seriesData_2);

    //draw
    chart.container('container').draw();
});