{:tags []
     :is_new false
     :exports "chart"}


anychart.onDocumentReady(function() {
    
		//create data set on our data
    dataSet = anychart.data.set([50]);
    
		//set the gauge type
    gauge = anychart.circularGauge();

		//gauge settings
    gauge.data(dataSet);
    gauge.padding('10%');
    gauge.startAngle(0);
    gauge.sweepAngle(360);
   
		//axis settings
    var axis = gauge.axis()
        .radius(95)
        .width(1);

		//scale settings
    axis.scale()
        .minimum(0)
        .maximum(360)
        .ticks({interval: 10})
        .minorTicks({interval: 1});

		//ticks settings
    axis.ticks()
        .type('trapezoid')
        .length('8');

		//minor ticks settings
    axis.minorTicks()
        .enabled(true)
        .length('1');
		
		//bar
    gauge.bar(0)
        .width(3)
		.position('i')
        .radius(100);
        
		//draw the chart
    gauge.container('container').draw();
});
