{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // set data and chart type
  chart = anychart.pieChart([
    {x: 'P1', value: 232, hatchFill: 'diagonalcross'},
    {x: 'P2', value: 224, hatchFill: 'zigzag'},
    {x: 'P3', value: 252, hatchFill: 'horizontal'},
    {x: 'P4', value: 219, hatchFill: 'vertical'},
    {x: 'P5', value: 169, hatchFill: 'dashedbackwarddiagonal'},
    {x: 'P6', value: 217, hatchFill: 'grid'}
  ]);

  // chart title
  chart.title().text('Hatches');

  // disable labels
  chart.labels().enabled(false);

  // draw
  chart.container('container').draw();
});