{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {


  //create stage
  stage = acgraph.create('container');

  //data for chart
  var dataSet = anychart.data.set([
        ['Product A', 90],
        ['Product B', 65],
        ['Product C', 73],
        ['Product D', 88],
        ['Product E', 75],
        ['Product F', 100]
      ]);

  //chart type
  chart1 = anychart.radarChart();

  //chart title
  chart1.title().text('Curcuit Grid Adjustment');

  //disable minor ticks
  chart1.yAxis().enabled(true).minorTicks().enabled(false);

  //set data and adjust visualisation
  chart1.area(dataSet).stroke('yellow').fill('gold 0.8');

  chart1.grid(0)
    .evenFill(null)
    .oddFill(null)
    .layout('radial');

  chart1.grid(1)
    .evenFill('red 0.6')
    .oddFill('darkred 0.6')
    .layout('curcuit');

  //set chart size and position
  chart1.bounds(0, 0, '50%', '100%');

  //draw chart
  chart1.container(stage).draw();


  chart2 = anychart.radarChart();

  //chart title
  chart2.title().text('Radial Grid Adjustment');

  //disable minor ticks
  chart2.yAxis().enabled(true).minorTicks().enabled(false);

  chart2.grid(0)
    .evenFill('red 0.6')
    .oddFill('darkred 0.6')
    .layout('radial');

  chart2.grid(1)
    .evenFill(null)
    .oddFill(null)
    .layout('curcuit');

  //set data and adjust visualisation
  chart2.area(dataSet).stroke('yellow').fill('gold 0.8');

  //set chart size and position
  chart2.bounds('50%', 0, '50%', '100%');

  //draw chart
  chart2.container(stage).draw();

});