{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {
  
  var data = [
    {name: "Fantasy", value: 637166},
    {name: "Science Fiction", value: 721630},
    {name: "Detective", value: 148662},
    {name: "Classics", value: 78662},
    {name: "Textbooks", value: 90000}
  ];
  
  var chart = anychart.funnel(data);
  
  chart
    .height("100%")     // set 100 percents height of the funnel
    .width("100%")      // set 100 percents width of the funnel
    .neckWidth(70)      // set neck width 70px
    .neckHeight("50%")  // set neck height equal to half of the funnel's height
    .baseWidth(300);    // set head width 300px
  
  // draw chart
  chart.container("container").draw();
});