{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

    //chart type
    chart = anychart.columnChart();

    //chart title
    chart.title().text('Marker');

    //set axes titles
    chart.xAxis().title().text('Manager');
    chart.yAxis().title().text('Sales');

    //set scale minimum
    chart.yScale().minimum(0);

    //set data
    chart.column([
        ['John' , 10000],
        ['Jake' , 12000],
        {x: 'Peter', value: 18000, marker:{type:'star5', fill:'gold', size: 12, enabled: true}, hoverMarker: {size: 22}},
        ['James' , 11000],
        ['Mary' , 9000]
    ]);

    //draw chart
    chart.container('container').draw();
});