{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {
  var data = anychart.data.set([
    ['Department Stores', 637166, 737166],
    ['Discount Stores', 721630, 537166],
    ['Men\'s/Women\'s Specialty Stores', 148662, 188662],
    ['Juvenile Specialty Stores', 78662, 178662],
    ['All other outlets', 90000, 89000]
  ]);

  var Sales2003 = data.mapAs({x: [0], value: [1]});
  var Sales2004 = data.mapAs({x: [0], value: [2]});
  
  chart = anychart.barChart();

  var series;
  series = chart.bar(Sales2003);
      series.labels().enabled(true).offsetX(20).textFormatter(function(point){
        return point.value;
    }); 
    series.tooltip().enabled(true).contentFormatter(function() {
    return 'Chanel: ' + this.x + '\n' + 'Sales: ' + this.value + '\n' + 'Period: Year 2003';
  });
    series.tooltip().enabled(true).title().enabled(true).text('Information');
  series = chart.bar(Sales2004);
    series.labels().enabled(true).offsetX(20).textFormatter(function(point){
        return point.value;
    });
    series.tooltip().enabled(true).title().enabled(true).text('Information');
     series.tooltip().enabled(true).contentFormatter(function() {
    return 'Chanel: ' + this.x + '\n' + 'Sales: ' + this.value + '\n' + 'Period: Year 2004';
  });
    chart.container('container').draw();
    });