{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

  // data for chart
  var dataSet = anychart.data.set([
    [0, 80],
    [3, 40],
    [6, 80],
    [9, 40],
    [3, 80],
    [6, 40],
    [9, 80]
  ]);

  // chart type
  chart = anychart.polar();

  // chart title
  chart.title().text('Polar Chart Start Angle Sample');

  // set start angle of the chart
  chart.startAngle(90);

  // set data and adjust visualisation
  var series = chart.line(dataSet);

  // disable tooltips
  series.tooltip().enabled(false);

  // x scale interval settings
  chart.xScale().maximum(9).ticks().interval(1);

  // adjust content and visualisation of labels
  chart.xAxis().labels().fontWeight(900).textFormatter(function(){return this.value + '.00'});

  // grid settings
  chart.grid(0).evenFill(null).oddFill(null);
  chart.grid(1).evenFill(null).oddFill(null);

  // draw chart
  chart.container('container').draw();
});