{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

 var dataSet = anychart.data.set([
     ['P1', '178', '165', '154', '143', '132'],
     ['P2', '167', '153', '144', '133', '122']
   ]);
   var seriesData_1 = dataSet.mapAs({x: [0], value: [1]});
   var seriesData_2 = dataSet.mapAs({x: [0], value: [2]});
   var seriesData_3 = dataSet.mapAs({x: [0], value: [3]});
   var seriesData_4 = dataSet.mapAs({x: [0], value: [4]});
   var seriesData_5 = dataSet.mapAs({x: [0], value: [5]});

  chart = anychart.lineChart();
  chart.container('container');
  chart.line(seriesData_1)
  .stroke('#bcbd46')
  .markers().fill('#bcbd46');
  chart.line(seriesData_2)
  .stroke('#c7894a')
  .markers().fill('#c7894a');
  chart.line(seriesData_3)
  .stroke('#b04a8a')
  .markers().fill('#b04a8a');
  chart.line(seriesData_4)
  .stroke('#5ebd9b')
  .markers().fill('#5ebd9b');
  chart.line(seriesData_5)
  .stroke('#4a55c7')
  .markers().fill('#4a55c7');
chart.draw();
});