{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    // chart type
    chart = anychart.lineChart();

    // set title
    chart.title().text('Minimum and Maximum value colorizing');

    // data
    var data = anychart.data.set([
        [1, 132, 1],
        [2, 124, 2],
        [3, 102, 3],
        [4, 119, 2],
        [5, 169, 1],
        {x: 6, value: 237, size: 3, fill: 'Rgb(77,180,77)'},
        [7, 120, 2],
        [8, 99, 2],
        {x: 9, value: 44, size: 2,  fill:'Rgb(180,77,77)'},
        [10, 59, 2]
    ]);

    // set data
    chart.bubble(data).minimumSize(10).maximumSize(30);
    
    chart.xScale()
      .minimum(0)
      .maximum(11)
      .ticks().interval(1);

    // draw
    chart.container('container').draw();
});