anychart.onDocumentReady(function() {
  var data = new anychart.data.Set([
    ['Department Stores1', 637166],
    ['Discount Stores', 721630],
    ['Men\'s/Women\'s Specialty Stores', 148662],
    ['All other outlets', 90000]
  ]);
chart = anychart.barChart(data);
chart.bar(data);
chart.xAxis(0).orientation('right');
chart.yAxis(0).orientation('top');
chart.container('container').draw();
});