{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

    // set chart type and data
    chart = anychart.pieChart([
        ['Department Stores', 637166],
        ['Discount Stores', 721630],
        ['Men\'s/Women\'s Stores', 148662],
        ['Juvenile Specialty Stores', 78662],
        ['All other outlets', 90000]
    ]);

    // set chart title text settings
    chart.title().text('Exploded Slices');

    // disabling legend title and title separator
    chart.legend().enabled(false);

    // set explosion range
    chart.explode(30);

    // set slices, which are exploded by default
    chart.explodeSlice(0, true);
    chart.explodeSlice(4, true);

    // draw
    chart.container('container').draw();
});