{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {
    var data = anychart.data.set([
        ['January', 10000],
        ['February', 12000],
        ['March', 18000],
        ['April', 11000],
        ['May', 9000]
    ]);
    chart = anychart.areaChart();
    var series= chart.area(data);
    series.labels().enabled(true).rotation(90).offsetY(15).offsetX(-5).textFormatter(function(point){
        return point.x;
    });
    series.tooltip().enabled(true).title().enabled(true).text('Your Tooltip Title');
    chart.container('container').draw();
    });