{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {
  var data = new anychart.data.Set([
    ['P1', 132, 102, 72, 65, 68],
    ['P2', 124, 89, 44, 38, 57]
  ]);

  var chart1 = data.mapAs({x: [0], value: [1]});
  var chart2 = data.mapAs({x: [0], value: [2]});
  var chart3 = data.mapAs({x: [0], value: [3]});
  var chart4 = data.mapAs({x: [0], value: [4]});
  var chart5 = data.mapAs({x: [0], value: [5]});
  
  chart = anychart.barChart();

  var series;
  series = chart.bar(chart1);
  series.fill('#4A55C7');
  series = chart.bar(chart2);
  series.fill('#5EBD9B');
  series = chart.bar(chart3);
  series.fill('#B04A8A');
  series = chart.bar(chart4);
  series.fill('#C7894A');
  series = chart.bar(chart5);
  series.fill('#BCBD46');
  
  chart.container('container');
  chart.draw();
  });