{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // chart type
  var chart = anychart.scatter();
  // define chart type, set data and adjust visualisation
  chart.marker([
    [2000, 1100],
    [2001, 880],
    [2002, 1100],
    [2003, 1500],
    [2004, 921],
    [2005, 1000],
    [2006, 1400]
  ])
    .fill('gold')
    .hoverFill('darkred')
    .hoverStroke(0)
    .hoverSize(20);
  
  // set title
  chart.title().text('Visualization');
  
  // draw axes and set titles
  chart.xAxis().title('Year');
  chart.yAxis().title('Box office');
    
  chart.xScale()
    .minimum(1999)
    .maximum(2007)
    .ticks().interval(1);
  
  chart.container('container').draw();
});