{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    //data
    var data = [
        {x: new Date ('28-Aug-07'), open:511.53, high:514.98, low:505.79, close:506.40},
        {x: new Date ('29-Aug-07'), open:507.84, high:513.30, low:507.23, close:512.88},
        {x: new Date ('30-Aug-07'), open:512.36, high:515.40, low:510.58, close:511.40},
        {x: new Date ('31-Aug-07'), open:513.10, high:516.50, low:511.47, close:515.25},
        {x: new Date ('4-Sep-07'),  open:515.02, high:528.00, low:514.62, close:525.15}
    ];

    //chart type
    chart = anychart.financialChart();

    //chart title
    chart.title().text('Labels and Tooltips');

    //adjust x scale type
    chart.xScale().minimum(new Date ('27-Aug-07')).maximum(new Date ('5-Sep-07')).ticks().interval(0,0,1);

    //set data
    series = chart.candlestick(data);

    series.labels()
        .enabled(true)
        .anchor('top')
        .position('centerBottom')
        .fontSize(12)
        .fontWeight(900)
        .textFormatter(function(){
            var date = this.x;
            var options = {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric'
            };
            var transformedDate =  date.toLocaleDateString('en-US', options);
            return transformedDate;
        });

    series.tooltip()
        .contentFormatter(function() {
        var date = this.x;
        var options = {
            year: 'numeric',
            month: 'numeric',
            day: 'numeric'
        };
        var transformedDate =  date.toLocaleDateString('en-US', options);
            return 'ACME Corporation \n Date: ' + transformedDate + '\n' +
            'Open: ' + this.open + '\n' +
            'High: ' + this.high + '\n' +
            'Low: ' + this.low + '\n' +
            'Close: ' + this.close;
        });

    //set axes title
    chart.xAxis().title().text('Day');
    chart.yAxis().title().text('Price');

    chart.container('container').draw();
});