{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {

    // data
    var data = anychart.data.set([
        ['January', 10000],
        ['February', 12000],
        ['March', 18000],
        ['April', 11000],
        ['May', 9000]
    ]);


    // chart type
    chart = anychart.lineChart();

    // title
    chart.title().text('Spline chart');

    // set axes titles
    chart.xAxis().title().text('Sales');
    chart.yAxis().title().text('Month');

    // set data and define chart
    chart.spline(data);

    // draw
    chart.container('container').draw();
});