{:tags []
  :is_new false
  :exports "chart"}

anychart.onDocumentReady(function() {
var stage = acgraph.create('container');

  //data for chart
  var dataSet = anychart.data.set([
    ["New Zealand",  26],
    ["Australia",    24],
    ["France",       22],
    ["South Africa", 14],
    ["Samoa",        8]
  ]);

  //chart type
  chart = anychart.radarChart();

  //chart title
  chart.title().text('Rugby World Cup Overall Record 1987-2003 W Top 5 country');

  //disable minor ticks
  chart.yAxis().enabled(true).minorTicks().enabled(false);

  //set background color
  chart.background()
    .enabled(true)
    .fill('white');

  //fill set
    var fillSettings = {
        keys: ['.35 white', '.9 gray'],
        angle: -135,
        mode: chart.bounds()
    };

  //apply fill set
  chart.grid(0).oddFill(fillSettings).evenFill(fillSettings).stroke('black');
  chart.grid(1).oddFill(null).evenFill(null).stroke('black');

  //set data and adjust visualisation
  var series = chart.line(dataSet).markers().enabled(true);
  
  //draw chart
  chart.container(stage).draw();
});