{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  chart = anychart.barChart();

  chart.container('container');

  chart.title().text('Range Bar Chart');

chart.rangeBar([
    { high: 0.6, low: 6.3},
    { high: 0.7, low: 6.1}
     ]);

  chart.draw();
});
