{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // chart type
  chart = anychart.scatter();

  // set title
  chart.title().text('Fixed Minimum and Maximum Scale Value');

  // adjust y scale
  chart.yScale()
    .minimum(-100)    // set minimum value
    .maximum(1000)    // set maximum value
    .ticks()          // adjust ticks settings
      .interval(100); // set ticks interval
  
  // set data
  chart.bubble([
    [1, 637, 6],
    [2, 472, 14],
    [3, 48, 10]
  ]).minimumSize(10).maximumSize(30);
  
  // adjust axes settings
  chart.yAxis().title().text('Sales');
  chart.xAxis()
    .drawFirstLabel(false)
    .drawLastLabel(false)
    .title().text('Products');

  chart.xScale()
    .minimum(0)
    .maximum(4)
    .ticks().interval(1);

  // draw
  chart.container('container').draw();
});