{:tags []
  :is_new false
  :exports "chart"}
anychart.onDocumentReady(function() {

    // chart type
    chart = anychart.columnChart();

    // set title
    chart.title().text('Axes Management');

    // set axes titles
    chart.xAxis().title().text('Manager');
    chart.yAxis().title().text('Sales');

    // set scale minimum
    chart.yScale().minimum(0);

    // set data
    chart.column([
        ['John' , 10000],
        ['Jake' , 12000],
        ['Peter' , 18000],
        ['James' , 11000],
        ['Mary' , 9000]
    ]);

    // axes position adjuster
    chart.xAxis().orientation('top');
    chart.yAxis().orientation('right');

    // draw
    chart.container('container').draw();
});