{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    var chart = anychart.columnChart([10, 1, 7, 10]);

    //licence key
    anychart.licenseKey('AnyChart-95048498-10629dd6');
    //credits are enabled by default. The only exception is this very playground site.
    chart.credits().enabled(true);
    //custom logo
    chart.credits().logoSrc('http://static.anychart.com/github.png');

    //draw
    chart.container('container').draw();
});