{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

  //data
  var dataSet = anychart.data.set([
    {x: 'P1', value: 100},
    {x: 'P2', value: 200},
    {x: 'P3', value: 15},
    {x: 'P4', value: 130},
    {x: 'P5', value: 153},
    {x: 'P6', value: 120},
    {x: 'P7', value: 151},
    {x: 'P8', value: 58},
    {x: 'P9', value: 19},
    {x: 'P10', value: 135},
    {x: 'P11', value: 170},
    {x: 'P12', value: 195},
    {x: 'P13', value: 22},
    {x: 'P14', value: 175},
    {x: 'P15', value: 120},
    {x: 'P16', value: 92},
    {x: 'P17', value: 75},
    {x: 'P18', value: 30},
    {x: 'P19', value: 157},
    {x: 'P20', value: 200},
  ]);

  //set chart type
  chart = anychart.lineChart();

  chart.title().text('Click on Chart to Add a Point ');

  //set data
  var area = chart.spline(dataSet).markers(null);

  chart.padding().right(80);

  //set container and draw chart
  chart.container('container').draw();

  //create new button
  var infoContainer = document.createElement('div');

  //set button style
  infoContainer.style.top = 0;
  infoContainer.style.right = 0;
  infoContainer.style.width = 'auto';
  infoContainer.style.height = 'auto';
  infoContainer.style.backgroundColor = '#444444';
  infoContainer.style.color = 'white';
  infoContainer.style.position = 'absolute';
  infoContainer.style.zIndex = 2;
  infoContainer.style.transition = '0.5s';
  infoContainer.style.textAlign = 'center';
  infoContainer.style.border = '3px solid #444444';
  infoContainer.style.borderRadius = '7px 7px 7px 7px';
  infoContainer.style.fontSize = '18px';
  infoContainer.innerHTML = 'Start' + '\n' + 'stream';
  infoContainer.onclick = function() {
    startStream();
  };

  //append button to container
  container.appendChild(infoContainer);

  //first index for new point
  var indexSetter = 21;

  function startStream() {

    //adjust button content
    infoContainer.innerHTML = 'Stop' + '\n' + 'stream';

    //set interval of data stream
    var myVar = setInterval(

      //data streaming itself
      function(e) {

        //append data
        dataSet.append({

          //x value
          x: 'P' + indexSetter,

          //random value from 1 to 500
          value : Math.floor((Math.random() * 500)+ 1)
        });

        //removes first point
        dataSet.remove(0);
        indexSetter++;
      }, 200            //interval
    );

    infoContainer.onclick = function(){

      //clears interval which stops streaming
      clearInterval(myVar);
      infoContainer.onclick = function() {
        startStream();
      };
    infoContainer.innerHTML = 'Start' + '\n' + 'stream';
    };
  }
});