{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // Data Tree
  var tree = anychart.data.tree([
    {name: 'Node 1'},
    {name: 'Parent Node', children:[
     {name: 'Child Node 1'},
     {name: 'Child Node 2'},
    ]},
    {name: 'Node 2'}
  ]);

  // create Data Grid
  dataGrid = anychart.ui.dataGrid();

  // set Data Tree
  dataGrid.data(tree).titleHeight(20);

  // create button for Parent node
  dataGrid.listen('signal', dataGrid.draw, false, dataGrid);

  // set style for second column
  dataGrid.column(1).cellTextSettingsOverrider(labelTextSettingsOverrider);

  // draw chart
  dataGrid.container('container').draw();
});

// style setter
function labelTextSettingsOverrider(label, dataItem) {
  if (!dataItem.getParent()) {
    label.fontColor('#0055aa').fontWeight('bold').fontSize(12).fontStyle('italic');
  } else {
    if (dataItem.numChildren()) {
      label.fontColor('#559955').fontWeight('bold').fontStyle('italic');
    }
  }
}