{:tags [error,bar]
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  chart = anychart.scatter();


  //set container id for the chart
  chart.container('container');

  var series = chart.marker([
    [1, 3.4],
    [2, 4.1],
    [3, 4.5],
    [4, 4.7],
    [5, 5.2],
    [6, 5.67],
    [7, 5.89],
    [8, 6.9],
    [9, 9.14],
    [10, 15.78]
  ]);

  series.size(4).hoverSize(5);

  series.error({
    xLowerError: '1%',
    xUpperError: '6%',
    valueUpperError: '2%',
    valueLowerError: '4%'
  });



  chart.title('Ice-sheet dynamics');

  chart.xAxis().title('Distance (mm)');
  chart.yAxis().title('Hours');

  //initiate chart drawing
  chart.draw();
});