anychart.onDocumentReady(function() {
  chart = anychart.scatter();


  //set container id for the chart
  chart.container('container');

  var series = chart.marker([
    [1, 177],
    [2, 174],
    [3, 165],
    [4, 159],
    [5, 140]
  ]);


  series.error({
            xLowerError: '2%',
            xUpperError: 2,
            valueUpperError: 5,
            valueLowerError: '3%',
            errorMode: 'y'
        });

  chart.yScale().minimum(0);
  chart.xScale().maximum(6);
  
  chart.xAxis().title('Hours After Treatment');
  chart.yAxis().title('Mean Blood Pressure');

  //initiate chart drawing
  chart.draw();
});