{:tags [error,bar]
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  chart = anychart.scatter();

  //set container id for the chart
  chart.container('container');

  var series = chart.line([
    [10, 140],
    [20, 177],
    [30, 154],
    [50, 165],
    [60, 189],
    [70, 69],
    [80, 120],
    [90, 135]
  ]);


  series.error().xUpperError(5);
  series.error().xLowerError('7%');

  chart.title('Scatter Chart With Error Bars For The Y value');
  chart.yScale().minimum(0);

  //initiate chart drawing
  chart.draw();
});