{:tags [error,bar]
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  chart = anychart.scatter();

  //set container id for the chart
  chart.container('container');

  var series = chart.marker([
    {'x': 192, 'y': 9, 'xUpperError': '2%', 'xLowerError': '1%'},
    {'x': 168, 'y': 24, 'xUpperError': '3%', 'xLowerError': '3%', 'valueUpperError': '3'},
    {'x': 154, 'y': 30, 'xError': '6'},
    {'x': 132, 'y': 41, 'xUpperError': '3%', 'xLowerError': '3%'},
    {'x': 114, 'y': 53, 'xUpperError': '2', 'xLowerError': '3%', 'valueLowerError': '7%'},
    {'x': 94, 'y': 74, 'xError': '4%', 'valueError': '6%'},
    {'x': 83, 'y': 85, 'xUpperError': '3%', 'xLowerError': '5%', 'valueUpperError': '5%', 'valueLowerError': '2%'},
  ]);

  series.size(7);

  chart.title('Market Demand Curve With Error Bars');
  chart.xAxis().title('Price');
  chart.yAxis().title('Sales');

  //initiate chart drawing
  chart.draw();
});