{:tags [error,bar]
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  chart = anychart.columnChart();

  //set container id for the chart
  chart.container('container');

  var series = chart.column([
    {x: 'Viperia berus', y: 8, valueError: '4.4', valueErrorStroke: 'red'},
    {x: 'Viperia ammodytes', y: 7.1, valueError: '2.6', valueErrorStroke: 'red'},
    {x: 'Viperia aspis', y: 13.7, valueError: '4.6', valueErrorStroke: 'red'},
    {x: 'Viperia latastei', 'y': 16.8, valueError: '5.5', valueErrorStroke: 'red'}
  ]).fill('Green .8');

  chart.yAxis().title('Lethal Dose 50 (mg/mouse)');
  chart.barGroupsPadding(3);
  chart.yScale().minimum(0);
  chart.title('Studies Of Snake Venom');
  //initiate chart drawing
  chart.draw();
});