{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

  // data
  data = [
    {x: 'Chocolate paste', value: 5},
    {x: 'White honey', value: 2},
    {x: 'Strawberry jam', value: 2},
    {x: 'Сondensed milk', value: 1},
  ];

  // create default palette
  var palette = anychart.palettes.distinctColors().colors();

  // color elements
  for (var index in data){
      data[index].fill = palette[index];
  }

  //set chart type
  var chart = anychart.barChart();

  // set data
  var series = chart.bar(data);

  // disable tooltips
  series.tooltip().enabled(false);

  // disable background
  chart.background().enabled(false);

  //set chart title
  chart.title().text('The kind of pancakes preferred at the Sochi 2014 Olympic Games').hAlign('center');

  // set chart container
  chart.container('container');

  // set chart bounds
  chart.bounds(0, 0, chart.container().width()-35, chart.container().height());

  // disable axes titles
  chart.xAxis().title().enabled(false);
  chart.yAxis().title().enabled(false);

  // initiate chart drawing
  chart.draw();

  // create new buttons
  var printButton = document.createElement('div');
  var printFullButton = document.createElement('div');

  printButton.className = 'custombutton';
  printFullButton.className = 'custombutton';

  printButton.innerHTML = 'print Chart \n fit width';
  printFullButton.innerHTML = 'print Chart \n full page';

  printButton.onclick = function() {
      chart.container().height(chart.container().height()/(595/chart.container().width())).width(595);
      chart.bounds(0, 0, '100%', '100%');
      chart.print();
      chart.container().height('100%').width('100%');
      chart.bounds(0, 0, chart.container().width()-60, chart.container().height());
  };
  printFullButton.onclick = function() {
      chart.container().height(842).width(595);
      chart.bounds(0, 0, 595, 842);
      chart.print();
      chart.container().height('100%').width('100%');
      chart.bounds(0, 0, chart.container().width()-60, chart.container().height());
  };

  // append button to container
  container.appendChild(printButton);
  container.appendChild(printFullButton);

  var custombuttons = document.getElementsByClassName('custombutton');

  for (var i = 0; i<custombuttons.length; i++){
      // set button style
      custombuttons[i].style.top = 65*i + 'px';
      custombuttons[i].style.right = '5px';
      custombuttons[i].style.width = '80px';
      custombuttons[i].style.height = 'auto';
      custombuttons[i].style.backgroundColor = '#444444';
      custombuttons[i].style.color = 'white';
      custombuttons[i].style.fontFamily = chart.title().fontFamily();
      custombuttons[i].style.position = 'absolute';
      custombuttons[i].style.zIndex = 2;
      custombuttons[i].style.transition = '0.5s';
      custombuttons[i].style.textAlign = 'center';
      custombuttons[i].style.border = '3px solid #444444';
      custombuttons[i].style.borderRadius = '7px 7px 7px 7px';
      custombuttons[i].style.fontSize = '15px';
      custombuttons[i].style.cursor = 'pointer';
  }
});