{:tags []
     :is_new false}

anychart.onDocumentReady(function() {

    var stage = acgraph.create('container');
    var bg = anychart.elements.background()
        .fill(['black', 'white'], .5, .5, anychart.math.rect(0, 0, 400, 400), 1, .5, .7)
        .container(stage)
        .draw();

});