{:tags []
     :is_new false
     :exports "chart"}


anychart.onDocumentReady(function() {

            var xml =
                    '<anychart xmlns="http://anychart.com/schemas/7.5.0/xml-schema.xsd">'+
                    '<gantt enabled="true" type="project" header_height="70" row_hover_fill="#edf8ff" row_selected_fill="#d2eafa" splitter_position="30%">'+
                    '<controller is_resource_chart="false" vertical_offset="0" start_index="0">'+
                    '<tree_data>'+
                    '<children>'+
                    '<data_item>'+
                    '<tree_data_item_data name="Activities" actual_start="1169683200000" actual_end="1173830400000"/>'+
                    '<tree_data_item_meta nc="true" depth="0" index="0" auto_progress="0" auto_start="1169683200000" auto_end="1173830400000"/>'+
                    '<children>'+
                    '<data_item>'+
                    '<tree_data_item_data name="Draft plan" actual_start="1169683200000" actual_end="1170460800000"/>'+
                    '<tree_data_item_meta nc="true" depth="1" index="1"/>'+
                    '</data_item>'+
                    '<data_item>'+
                    '<tree_data_item_data name="Board meeting" actual_start="1170547200000" actual_end="1170547200000"/>'+
                    '<tree_data_item_meta nc="true" depth="1" index="2"/>'+
                    '</data_item>'+
                    '<data_item>'+
                    '<tree_data_item_data name="Research option" actual_start="1170547200000" actual_end="1172275200000"/>'+
                    '<tree_data_item_meta nc="true" depth="1" index="3"/>'+
                    '</data_item>'+
                    '<data_item>'+
                    '<tree_data_item_data name="Final plan" actual_start="1172275200000" actual_end="1173830400000"/>'+
                    '<tree_data_item_meta nc="true" depth="1" index="4"/>'+
                    '</data_item>'+
                    '</children>'+
                    '</data_item>'+
                    '</children>'+
                    '<index>'+
                    '<key><![CDATA[id]]></key>'+    // the index can be made for the id (as it is done here - by default) or for any other field
                    '</index>'+
                    '</tree_data>'+
                    '</controller>'+
                    '</scale>'+
                    '</timeline>'
                    '</gantt>'+
                    '</anychart>';

            var chart = anychart.fromXml(xml);

            // set container id for the chart
            chart.container('container');

            // initiate chart drawing
            chart.draw();

        });