{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function(){

  // data tree settings
  var treeData = anychart.data.tree(getData(), anychart.enums.TreeFillingMethod.AS_TABLE);

  // chart type
  chart = anychart.ganttProject();

  // chart container
  chart.container('container');

  // chart position
  chart.bounds(0, 0, '100%', '100%');

  // chart data
  chart.data(treeData);

  // data tree width
  chart.splitterPosition(170);

  var dataGrid = chart.getDataGrid();

  // settings for first column
  dataGrid.column(0).width(30).title().text('#');

  // settings for the second column
  dataGrid.column(1).width(140).textFormatter(function(item) {
    return item.get('name');
  }).title().text('Plan');

  // initiate drawing
  chart.draw();

  // area to display by default
  chart.zoomTo(1171036800000, 1176908400000);
});

// data
function getData() {
  return [
  {
    "id": "1",
    "name": "Phase 1 - Strategic Plan",
    "actualStart": Date.UTC(2007, 0, 25),
    "actualEnd": Date.UTC(2007, 2, 14),
    children: [
      {
        "id": "2",
        "name": "Self-Assessment",
        "actualStart": 1173024000000,
        "actualEnd": 1173715200000
      },
      {
        "id": "3",
        "name": "Define business vision",
        "actualStart": 1169740800000,
        "actualEnd": 1170172800000
      },
      {
        "id": "4",
        "name": "Identify available skills, information and support",
        "actualStart": 1171814400000,
        "actualEnd": 1172419200000
      },
      {
        "id": "5",
        "name": "Decide whether to proceed",
        "actualStart": 1171296000000,
        "actualEnd": 1171382400000
      },
      {
        "id": "6",
        "name": "Define the Opportunity",
        "actualStart": 1173628800000,
        "actualEnd": 1174320000000
      }
    ]
  }
  ];
}