{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

    // chart type
    chart = anychart.columnChart();

    // set title
    chart.title().text('Column Chart');

    // set data
    chart.column([
        ['P1' , 10000],
        ['P2' , 12000],
        ['P3' , 18000],
        ['P4' , 11000],
        ['P5' , 9000]
    ]);

    // adjust title background fill
    chart.title().text('Solid Background Fill').background().enabled(true).fill('gold');

    // adjust chart background fill
    chart.background().fill('#aaaaaa');

    // disable axes strokes, labels and ticks
    chart.xAxis().stroke(null).labels(null).ticks(null);
    chart.yAxis().stroke(null).labels(null).ticks(null).minorTicks(null);

    // disable axes titles
    chart.xAxis().title().enabled(false);
    chart.yAxis().title().enabled(false);

    // disable grid
    chart.grid(null, null);
    chart.minorGrid().stroke(null);
    chart.grid(1).stroke(null);

    // draw
    chart.container('container').draw();
});