{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

var color1 = '#FF0000';

//Variable for controlling color blend
var colorIndex = 0;

//color darken function
function colorizer(){
    var mixColor1 = anychart.color.darken(color1, colorIndex);
    colorIndex = colorIndex + 0.2;
    return mixColor1;
}

    //data and fill color settings
    var data = anychart.data.set([
        {x: 'P1', value: 10000, fill: (colorizer())},
        {x: 'P2', value: 12000, fill: (colorizer())},
        {x: 'P3', value: 18000, fill: (colorizer())},
        {x: 'P4', value: 13000, fill: (colorizer())},
        {x: 'P5', value: 9000, fill: (colorizer())},
    ]);

    //chart type
    chart = anychart.columnChart();

    chart.title().text('Darken Colors Sample');

    //set data and set additionla information in tooltip
    chart.column(data).tooltip().contentFormatter(function(){
        var mixColor2 = anychart.color.darken(color1, (this.index * 0.2));
        return 'Input Color: ' + color1
            + '\nBlend Ration: ' + this.index * 2 / 10
            + '\nResult: ' + mixColor2;
    });

    //draw
    chart.container('container').draw();
});