{:tags []
     :is_new false
     :exports "chart"}

		anychart.onDocumentReady(function() {

            stage = anychart.graphics.create('container');

            // define data
            var data = [
                ['A1', 100, 200, 70, 25, 40],
                ['A2', 115, 101, 150, 130, 22],
                ['A3', 70, 60, 10, 67, 54],
                ['A4', 156, 98, 125, 46, 104],
                ['A5', 213, 150, 200, 137, 179]
            ];
            // create chart
            chart = anychart.barChart();
            var series = anychart.data.mapAsTable(data, 'value');


            chart.bar(series[0])
                    .color('white 0')
                    .hatchFill('VERTICALBRICK');
            chart.bar(series[1])
                    .color('white 0')
                    .hatchFill('PERCENT60');
            chart.bar(series[2])
                    .color('white 0')
                    .hatchFill('CHECKERBOARD');
            chart.bar(series[3])
                    .color('white 0')
                    .hatchFill('CONFETTI');
            chart.bar(series[4])
                    .color('white 0')
                    .hatchFill('SOLIDDIAMOND');

            chart.container(stage).draw();

        });