{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

    // data and fill color settings
    var data = anychart.data.set([
        {x: 'English', value: 2022776, color: 'RoyalBlue'},
        {x: 'Français', value: 561753, fill: 'red'},
        {x: 'Português', value: 287318, fill: 'green'},
        {x: 'Español', value: 281288, fill: 'gold'},
        {x: 'Русский', value: 204379, fill: 'violet'},
        {x: '中文', value: 146215, fill: 'gold'},
        {x: 'Norsk (bokmål)', value: 133410, fill: 'yellow'},
    ]);

    // chart type
    chart = anychart.columnChart();

    // title
    chart.title().text('International Simbols Support');

    // set data
    series = chart.column(data);

    // adjust tooltip content
    series.tooltip().contentFormatter(function(){
        return 'Language: ' + this.x + '\nArticles: ' + this.value;
    });

    // adjust tooltip font
    series.tooltip().content().fontWeight(400).fontFamily('Tahoma').fontSize(12);

    // adjust labels
    series.labels()
        .enabled(true)
        .position('topcenter')
        .anchor('centerLeft')
        .offsetX(-10)
        .offsetY(-5)
        .rotation(-90)
        .textFormatter(function(){return this.x});

    // draw
    chart.container('container').draw();
});