{:tags []
     :is_new false
     :exports "chart"}
anychart.onDocumentReady(function() {

    //variable of additional information in labeles
    var customAttributes = {
        Men: "<br> <i>For every 100 girls, <br/>105 boys are born, but males have a higher <br/>risk of dying than <br/>females, both in <br/>childhood and at adult <br/>ages.</i>",
        Women: "<br>The number of men <br/> and women in the <br/>world is roughly equal, though men hold a <br/>slight lead with 101 <br/>men for 100 women."
    };

    //data
    var data = anychart.data.set([
        {x: 'Men', value: 50.3},
        {x: 'Women', value: 49.7}
    ]);

    //set data
    chart = anychart.pieChart(data);

    //set chart labels
    chart.labels()
        .enabled(true)
        .fontColor('black')
        .fontWeight(400)
        .width(140)
        .position('outside')
        .useHtml(true)
        .textFormatter(function() {
            return '<a style="text-decoration: underline; font-weight: 900;">' + this.x + ' — ' + this.value + '%</a>' + customAttributes[this.x];
        });

    //set title
    chart.title().text('HTML Text Formatting Sample').fontSize(13);

    //draw
    chart.container('container').draw();
});