<!doctype html>
<html>
<head>
  <script src="//cdn.anychart.com/js/special/anychart.min.js"></script>
  <style>
    html, body, #container {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
    <div id="container"></div>
    <script type="text/javascript">
anychart.onDocumentReady(function() {
  //create data set on our data
  dataSet = anychart.data.set([81,34.5]);

  gauge = anychart.circularGauge();
  gauge.container('container').draw();

  gauge.data(dataSet).padding('4%');

  var axis1 = gauge.axis(0)
      .minimum(0)
      .maximum(100)
      .ticksInterval(10);

  axis1.ticks()
      .fill('white')
      .stroke('#888')
      .type('trapezoid')
      .length(20);

  axis1.minorTicks()
      .enabled(true)
      .fill('white')
      .stroke('#ccc')
      .type('trapezoid')
      .length(10);
});
    </script>
</body>
</html>