{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    stage = acgraph.create('container');
    var bg = anychart.ui.background()
        .fill(['black', 'white'], .5, .5)
        .container(stage)
        .draw();

});