{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    stage = anychart.graphics.create('container');
    stage.path()
            .moveTo(stage.width() / 2, 0)
            .lineTo(stage.width() / 2, stage.height());
    stage.text(20, 0, 'Stretch image');
    anychart.ui.background()
            .fill({
                src: 'http:// static.anychart.com/kitty.png',
                mode: acgraph.vector.ImageFillMode.STRETCH
            })
            .stroke('1 #000')
            .bounds(anychart.math.rect(2, 18, stage.width() / 2 - 4, stage.height() - 22))
            .container(stage)
            .draw();
    stage.text(stage.width() / 2 + 20, 0, 'Pattern image');
    anychart.ui.background()
            .fill({
                src: 'http:// static.anychart.com/kitty.png',
                mode: acgraph.vector.ImageFillMode.TILE
            })
            .stroke('1 #000')
            .bounds(anychart.math.rect(stage.width() / 2 + 2, 18, stage.width() / 2 - 4, stage.height() - 22))
            .container(stage)
            .draw();
});