{:tags []
     :is_new false
     :exports "chart"}
	 
anychart.onDocumentReady(function() {

            stage = anychart.graphics.create('container');

            // create figures
            var circle = stage.circle(200,200,100);
            var rect = stage.rect(100,100,400,200);
            var ellipse = stage.ellipse(400,200,100,50);

            //fill them with hatch
            circle.fill(acgraph.hatchFill('diagonal', 'red', 5.01, 30));
            rect.fill(acgraph.hatchFill('weave', 'green', 0.5));
            ellipse.fill(acgraph.hatchFill('horizontal', 'gold 1.5', 2, 5));


        });