{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    stage = anychart.graphics.create('container');

    stage
        .rect(0, 0, stage.width(), stage.height())
        .fill(['red', 'yellow']);
});