{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    stage = anychart.graphics.create('container');

    chart = anychart.barChart();

    var data = [
      ['A1', 100, 200, 150, 115],
      ['A2', 85, 121, 175, 230],
      ['A3', 70, 160, 125, 100],
      ['A4', 156, 98, 150, 180],
      ['A5', 213, 150, 160, 210]
    ];
    var series = anychart.data.mapAsTable(data, 'range');
    chart.rangeBar(series[0]).color('gray 0.2').hatchFill('diamiond', 'black', 5);
    chart.rangeBar(series[1]).color('gray 0.2').hatchFill('diamiond', 'black', 0.5);

    chart.container(stage).draw();

});