{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    stage = acgraph.create('container');
    stage
        .rect(0, 0, stage.width(), stage.height())
        .fill(['0.1 red', '.3 yellow', '.6 white', '.9 orange']);

});