{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    stage = acgraph.create('container');
    anychart.ui.background()
        .fill('none')
        .stroke('5 orange')
        .bounds(anychart.math.rect(22, 18, stage.width() - 44, stage.height() / 3 - 22))
        .container(stage)
        .draw();
    anychart.ui.background()
        .fill('none')
        .stroke('grey', 15)
        .bounds(anychart.math.rect(22, stage.height() / 3 + 18, stage.width() - 44, stage.height() / 3 - 22))
        .container(stage)
        .draw();
    anychart.ui.background()
        .fill('none')
        .stroke({thickness: .4})
        .bounds(anychart.math.rect(22, 2 * stage.height() / 3 + 40, stage.width() - 44, 25))
        .container(stage)
        .draw();

});