{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    stage = anychart.graphics.create("container");
    var bg = anychart.ui.background()
        .fill(["black", "white"], .5, .5)
        .container(stage)
        .draw();

});