{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    var stage = acgraph.create('container');

    // define data
    var data = [
        ['A1', 100, 200],
        ['A2', 115, 101],
        ['A3', 70, 60],
        ['A4', 156, 98],
        ['A5', 213, 150]
    ];
    // create chart
    var chart = anychart.barChart();

    var series = anychart.data.mapAsTable(data, 'value');
    chart.bar(series[0]).hatchFill('verticalbrick');
    chart.bar(series[1]).hatchFill('percent60');

    chart.container(stage).draw();

});