var stage = acgraph.create(400, 200).container('container');
stage.rect(stage.width() / 12, stage.height() / 4, stage.width() / 3, 3 * stage.height() / 4)
    .fill('yellow .3');
stage.circle(stage.width() / 12, stage.height() / 4, 3).fill('blue');
stage.rect(7 * stage.width() / 12, stage.height() / 4, stage.width() / 3, 3 * stage.height() / 4)
    .fill('yellow .3');
stage.circle(7 * stage.width() / 12, stage.height() / 4, 3).fill('blue');
stage.path()
    .moveTo(stage.width() / 2, 0)
    .lineTo(stage.width() / 2, stage.height());
new anychart.elements.Marker()
    .position([stage.width() / 12, stage.height() / 4])
    .container(stage)
    .anchor(anychart.utils.NinePositions.LEFT_TOP)
    .type('star5')
    .offsetX(10)
    .offsetY(15)
    .fill('red .7')
    .draw();
new anychart.elements.Marker()
    .position([7 * stage.width() / 12, stage.height() / 4])
    .container(stage)
    .anchor(anychart.utils.NinePositions.RIGHT_BOTTOM)
    .offsetX(10)
    .offsetY(15)
    .type('star5')
    .fill('red .7')
    .draw();