{:tags []
  :is_new false
  :exports "chart"}

chart = new anychart.pie.Chart([
['Chocolate paste', 5],
['White honey', 2],
['Strawberry jam', 2],
['Сondensed milk', 1]
]);
chart.title('The kind of pancakes preferred at the Sochi 2014 Olympic Games sss');
chart.container('container');
chart.draw();