{:tags []
     :is_new false}

anychart.onDocumentReady(function() {

    stage = acgraph.create('container');
    stage.rect(1,1,50,50).parent(stage).fill('red').stroke('black');
    stage.render();

});