var stage = acgraph.create(400, 200).container('container');
anychart.elements.background()
    .fill('none')
    .stroke('5 orange .7')
    .bounds(new anychart.math.Rect(22, 18, stage.width() - 44, stage.height() / 3 - 22))
    .container(stage)
    .draw();
anychart.elements.background()
    .fill('none')
    .stroke(['red', 'blue'], 15)
    .bounds(new anychart.math.Rect(22, stage.height() / 3 + 18, stage.width() - 44, stage.height() / 3 - 22))
    .container(stage)
    .draw();
anychart.elements.background()
    .fill('none')
    .stroke({
      keys: ['.1 red', 'white'],
      cx: .5,
      cy: .5,
      fx: .3,
      fy: .4
    }, 4)
    .bounds(new anychart.math.Rect(22, 3 * stage.height() / 3 - 35, stage.width() - 44, 5))
    .container(stage)
    .draw();