{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    //create table
    var table = anychart.elements.table();

    //set style
    table.cellBorder(
      'red',  //color
      3,      //thickness
      '5 2'   //dash and gap length
    );

    //set table content
    table.contents([
        [1, 2, 3],
        [4, 5, 6]
    ]);

    // get cell from the first column and second row
    var cell = table.getCell(1,0);

    cell.border({
      keys: ['.1 red', '.2 blue', '.3 green'],  //set leaner color
      thickness: 5                              //set thickness
    });

    //set table container and initiate draw
    table.container('container').draw();
});