{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    //create table
    var table = anychart.elements.table();

    //set table content
    table.contents([
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ]);

    //set background color
    table.cellFill('lightgreen');

    //set table container and initiate draw
    table.container('container').draw();
});