{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // set stage
  stage = anychart.graphics.create('container');

  // create table
  var table = anychart.ui.table();

  // set table content
  table.contents([
    [
      null,
      null,
      '2003 Sales',
      '2004 Sales'
    ],[
      'Winter',
      'January',
      '$10000',
      '$12000'
    ],[
      null,
      'February',
      '$12000',
      '$15000'
    ],[
      'Spring',
      'March',
      '$18000',
      '$16000'
    ],[
      null,
      'April',
      '$11000',
      '$15000'
    ],[
      null,
      'May',
      '$9000',
      '14000'
    ]
  ]);

  // span cells
  table.getCell(1,0).rowSpan(2);
  table.getCell(3,0).rowSpan(3);
  table.getCell(0,0).colSpan(2);

  table.rowHeight(0, 40);   // Get first row and set height 40px
  table.colWidth(0, 70);    // Get first column and set width 70 px
  table.colWidth(1, 70);    // Get second column and set width 70 px

  table.cellFill('#FFFFE0');   // Set table background color

  //set border style
  table.cellBorder('gray',2,'5 2');

  table.cellTextFactory()
    .vAlign('center')
    .hAlign('left')
    .fontWeight(600)
    .fontSize(11)
    .fontColor('red');

  // set table container and initiate draw
  table.container(stage).draw();
});