{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // set stage
  stage = anychart.graphics.create('container');

  // create table
  var table = anychart.ui.table();

  // set table content
  table.contents([
    [
      'This cell got default width and custom height',
      'This cell got custom width and custom height',
      'This cell got default width and custom height'
    ],[
      'This cell got default width and default height',
      'This cell got custom width and default height',
      'This cell got default width and default height'
    ],[
      'This cell got default width and default height',
      'This cell got custom width and default height',
      'This cell got default width and default height'
    ],[
      'This cell got default width and default height',
      'This cell got custom width and default height',
      'This cell got default width and default height'
    ],[
      'This cell got default width and default height',
      'This cell got custom width and default height',
      'This cell got default width and default height'
    ],[
      'This cell got default width and default height',
      'This cell got custom width and default height',
      'This cell got default width and default height'
    ]
  ]);

  table.rowHeight(0, 40);   // Get first row and set height 40px
  table.colWidth(1, 160);   // Get second column and set width 160 px

  table.cellFill('#FFFFE0');   // Set table background color

  //set style
  table.cellBorder(
    'gray',     // Color
    2,          // Thickness
    '5 2'       // Dash and gap length
  );

  // get cell from the second column and second row
  var cell = table.getCell(1,1);

  cell.border({
    keys: ['red'],  // Set leaner color
    thickness: 3    // Set thickness
  });

  //get cell from second column and fourth row
  var cell_1 = table.getCell(3, 1);

  cell_1.border({
    keys: ['red'],  // Set leaner color
    thickness: 3    // Set thickness
  });

  // set table container and initiate draw
  table.container(stage).draw();
});