{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // set stage
  stage = anychart.graphics.create('container');

  // create table
  var table = anychart.ui.table();

  // set table content
  table.contents([
    [
      'This cell spanes cells from two \nrows below',
      'This cell got custom width and \ncustom height',
      'This cell got default width and \ncustom height'
    ],[
      null, // this cell will be spanned with the cell from first column and first row
      'This cell spanes a cell from the right column',
      null  // this cell will be spanned with the cell from the second column and second row
    ],[
      null, // this cell will be spanned with the cell from first column and first row
      'This cell got custom width and \ndefault height',
      'This cell got default width and \ndefault height'
    ]
  ]);

  // span cells
  table.getCell(1,1).colSpan(2);
  table.getCell(0, 0).rowSpan(3);

  table.rowHeight(0, 60);   // Get first row and set height 40px
  table.colWidth(1, 180);   // Get second column and set width 160 px

  table.cellFill('#FFFFE0');   // Set table background color

  //set border style
  table.cellBorder('gray',2,'5 2');

  table.cellTextFactory()
    .vAlign('center')
    .hAlign('left')
    .fontWeight(600)
    .fontSize(11)
    .fontColor('red');

  // set table container and initiate draw
  table.container(stage).draw();
});