{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // set stage
  stage = anychart.graphics.create('container');

  // create table
  var table = anychart.ui.table();

  // set table content
  table.contents([
    [
      'This cell got default width and custom height',
      'This cell got custom width and custom height',
      'This cell got default width and custom height'
    ],[
      'This cell got default width and default height',
      'This cell got custom width and default height',
      'This cell got default width and default height'
    ],[
      'This cell got default width and default height',
      'This cell got custom width and default height',
      'This cell got default width and default height'
    ]
  ]);

  table.rowHeight(0, 60);   // Get first row and set height 40px
  table.colWidth(1, 170);   // Get second column and set width 160 px

  table.cellFill('#FFFFE0');   // Set table background color

  //set border style
  table.cellBorder('gray',2,'5 2');

  table.cellTextFactory()
    .padding(10)
    .vAlign('center')
    .hAlign('left')
    .fontWeight(600)
    .fontSize(11)
    .fontColor('red');

  // set table container and initiate draw
  table.container(stage).draw();
});