{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // set stage
  stage = anychart.graphics.create('container');

  // create table
  var table = anychart.ui.table();

  // set table content
  table.contents([
    [
      'This cell got default width and custom \nheight',
      'This cell got custom width and custom height',
      'This cell got default width and custom \nheight'
    ],[
      'This cell got default width and default \nheight',
      'This cell got custom width and default height',
      'This cell got default width and default \nheight'
    ],[
      'This cell got default width and default \nheight',
      'This cell got custom width and default height',
      'This cell got default width and default \nheight'
    ]
  ]);

  table.rowHeight(0, 40);   // Get first row and set height 40px
  table.colWidth(1, 160);   // Get second column and set width 160 px

  table.cellFill('#BBB');   // Set table background color

  // set table container and initiate draw
  table.container(stage).draw();
});