{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    //create table
    var table = anychart.elements.table();

    //set table content
    table.contents([
        [1, 2, 3],
        [5, 6, 7],
        [8, 9, 10],
        [11, 12, 13],
        [14, 15, 16],
        [17, 18, 19]
    ]);

    //set background color for all cells in even rows
    table.cellEvenFill('rgb(233, 234, 237)');

    //set background color
    table.cellOddFill('rgb(102, 143, 169)');

    //set table container and initiate draw
    table.container('container').draw();
});