{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  var json = {
    // create chart
    "chart": {
      // set chart container
      "container": "container",
      // set chart type
      "type": "polar",
      // set chart title
      "title": "Polar JSON Chart",
      // adjust default y scale
      "yScale": {
        // set ticks interval
        "ticks": {"interval": "0.3"}
      },
      // adjust default x scale
      "xScale": {
        "maximum": 360,
        // set ticks interval
        "ticks": {"interval": "20"}
      },
      // major grid settings
      "grids": [{
        // adjust even columns settings
        "evenFill": 'white 0.9',
        // adjust odd columns settings
        "oddFill": 'lightgray 0.9',
        // set border color
        "stroke": "white",
        // set grid layout
        "layout": "curcuit"
      },{
        // adjust even rows settings
        "evenFill": null,
        // adjust odd rows settings
        "oddFill": null,
        // set border color
        "stroke": "gray 0.8",
        // set grid layout
        "layout": "radial"
      }],
      // series settings
      "series": [{
        // set series type
        "seriesType": "line",
        // set series visual appearance
        "stroke": "3 blue .7",
        // disable markers
        "markers": false,
        // series data
        "data": [
          {"x": 0,   "value": 0},
          {"x": 1,   "value": 0.0785},
          {"x": 2,   "value": 0.1568},
          {"x": 3,   "value": 0.2347},
          {"x": 4,   "value": 0.3119},
          {"x": 5,   "value": 0.3882},
          {"x": 6,   "value": 0.4635},
          {"x": 7,   "value": 0.5376},
          {"x": 8,   "value": 0.6101},
          {"x": 9,   "value": 0.681},
          {"x": 10,  "value": 0.75},
          {"x": 11,  "value": 0.817},
          {"x": 12,  "value": 0.8817},
          {"x": 13,  "value": 0.944},
          {"x": 14,  "value": 1.0037},
          {"x": 15,  "value": 1.0607},
          {"x": 16,  "value": 1.1147},
          {"x": 17,  "value": 1.1657},
          {"x": 18,  "value": 1.2135},
          {"x": 19,  "value": 1.258},
          {"x": 20,  "value": 1.299},
          {"x": 21,  "value": 1.3365},
          {"x": 22,  "value": 1.3703},
          {"x": 23,  "value": 1.4004},
          {"x": 24,  "value": 1.4266},
          {"x": 25,  "value": 1.4489},
          {"x": 26,  "value": 1.4672},
          {"x": 27,  "value": 1.4815},
          {"x": 28,  "value": 1.4918},
          {"x": 29,  "value": 1.4979},
          {"x": 30,  "value": 1.5},
          {"x": 31,  "value": 1.4979},
          {"x": 32,  "value": 1.4918},
          {"x": 33,  "value": 1.4815},
          {"x": 34,  "value": 1.4672},
          {"x": 35,  "value": 1.4489},
          {"x": 36,  "value": 1.4266},
          {"x": 37,  "value": 1.4004},
          {"x": 38,  "value": 1.3703},
          {"x": 39,  "value": 1.3365},
          {"x": 40,  "value": 1.299},
          {"x": 41,  "value": 1.258},
          {"x": 42,  "value": 1.2135},
          {"x": 43,  "value": 1.1657},
          {"x": 44,  "value": 1.1147},
          {"x": 45,  "value": 1.0607},
          {"x": 46,  "value": 1.0037},
          {"x": 47,  "value": 0.944},
          {"x": 48,  "value": 0.8817},
          {"x": 49,  "value": 0.817},
          {"x": 50,  "value": 0.75},
          {"x": 51,  "value": 0.681},
          {"x": 52,  "value": 0.6101},
          {"x": 53,  "value": 0.5376},
          {"x": 54,  "value": 0.4635},
          {"x": 55,  "value": 0.3882},
          {"x": 56,  "value": 0.3119},
          {"x": 57,  "value": 0.2347},
          {"x": 58,  "value": 0.1568},
          {"x": 59,  "value": 0.0785},
          {"x": 60,  "value": 0},
          {"x": 61,  "value": 0.0785},
          {"x": 62,  "value": 0.1568},
          {"x": 63,  "value": 0.2347},
          {"x": 64,  "value": 0.3119},
          {"x": 65,  "value": 0.3882},
          {"x": 66,  "value": 0.4635},
          {"x": 67,  "value": 0.5376},
          {"x": 68,  "value": 0.6101},
          {"x": 69,  "value": 0.681},
          {"x": 70,  "value": 0.75},
          {"x": 71,  "value": 0.817},
          {"x": 72,  "value": 0.8817},
          {"x": 73,  "value": 0.944},
          {"x": 74,  "value": 1.0037},
          {"x": 75,  "value": 1.0607},
          {"x": 76,  "value": 1.1147},
          {"x": 77,  "value": 1.1657},
          {"x": 78,  "value": 1.2135},
          {"x": 79,  "value": 1.258},
          {"x": 80,  "value": 1.299},
          {"x": 81,  "value": 1.3365},
          {"x": 82,  "value": 1.3703},
          {"x": 83,  "value": 1.4004},
          {"x": 84,  "value": 1.4266},
          {"x": 85,  "value": 1.4489},
          {"x": 86,  "value": 1.4672},
          {"x": 87,  "value": 1.4815},
          {"x": 88,  "value": 1.4918},
          {"x": 89,  "value": 1.4979},
          {"x": 90,  "value": 1.5},
          {"x": 91,  "value": 1.4979},
          {"x": 92,  "value": 1.4918},
          {"x": 93,  "value": 1.4815},
          {"x": 94,  "value": 1.4672},
          {"x": 95,  "value": 1.4489},
          {"x": 96,  "value": 1.4266},
          {"x": 97,  "value": 1.4004},
          {"x": 98,  "value": 1.3703},
          {"x": 99,  "value": 1.3365},
          {"x": 100, "value": 1.299},
          {"x": 101, "value": 1.258},
          {"x": 102, "value": 1.2135},
          {"x": 103, "value": 1.1657},
          {"x": 104, "value": 1.1147},
          {"x": 105, "value": 1.0607},
          {"x": 106, "value": 1.0037},
          {"x": 107, "value": 0.944},
          {"x": 108, "value": 0.8817},
          {"x": 109, "value": 0.817},
          {"x": 110, "value": 0.75},
          {"x": 111, "value": 0.681},
          {"x": 112, "value": 0.6101},
          {"x": 113, "value": 0.5376},
          {"x": 114, "value": 0.4635},
          {"x": 115, "value": 0.3882},
          {"x": 116, "value": 0.3119},
          {"x": 117, "value": 0.2347},
          {"x": 118, "value": 0.1568},
          {"x": 119, "value": 0.0785},
          {"x": 120, "value": 0},
          {"x": 121, "value": 0.0785},
          {"x": 122, "value": 0.1568},
          {"x": 123, "value": 0.2347},
          {"x": 124, "value": 0.3119},
          {"x": 125, "value": 0.3882},
          {"x": 126, "value": 0.4635},
          {"x": 127, "value": 0.5376},
          {"x": 128, "value": 0.6101},
          {"x": 129, "value": 0.681},
          {"x": 130, "value": 0.75},
          {"x": 131, "value": 0.817},
          {"x": 132, "value": 0.8817},
          {"x": 133, "value": 0.944},
          {"x": 134, "value": 1.0037},
          {"x": 135, "value": 1.0607},
          {"x": 136, "value": 1.1147},
          {"x": 137, "value": 1.1657},
          {"x": 138, "value": 1.2135},
          {"x": 139, "value": 1.258},
          {"x": 140, "value": 1.299},
          {"x": 141, "value": 1.3365},
          {"x": 142, "value": 1.3703},
          {"x": 143, "value": 1.4004},
          {"x": 144, "value": 1.4266},
          {"x": 145, "value": 1.4489},
          {"x": 146, "value": 1.4672},
          {"x": 147, "value": 1.4815},
          {"x": 148, "value": 1.4918},
          {"x": 149, "value": 1.4979},
          {"x": 150, "value": 1.5},
          {"x": 151, "value": 1.4979},
          {"x": 152, "value": 1.4918},
          {"x": 153, "value": 1.4815},
          {"x": 154, "value": 1.4672},
          {"x": 155, "value": 1.4489},
          {"x": 156, "value": 1.4266},
          {"x": 157, "value": 1.4004},
          {"x": 158, "value": 1.3703},
          {"x": 159, "value": 1.3365},
          {"x": 160, "value": 1.299},
          {"x": 161, "value": 1.258},
          {"x": 162, "value": 1.2135},
          {"x": 163, "value": 1.1657},
          {"x": 164, "value": 1.1147},
          {"x": 165, "value": 1.0607},
          {"x": 166, "value": 1.0037},
          {"x": 167, "value": 0.944},
          {"x": 168, "value": 0.8817},
          {"x": 169, "value": 0.817},
          {"x": 170, "value": 0.75},
          {"x": 171, "value": 0.681},
          {"x": 172, "value": 0.6101},
          {"x": 173, "value": 0.5376},
          {"x": 174, "value": 0.4635},
          {"x": 175, "value": 0.3882},
          {"x": 176, "value": 0.3119},
          {"x": 177, "value": 0.2347},
          {"x": 178, "value": 0.1568},
          {"x": 179, "value": 0.0785},
          {"x": 180, "value": 0},
          {"x": 181, "value": 0.0785},
          {"x": 182, "value": 0.1568},
          {"x": 183, "value": 0.2347},
          {"x": 184, "value": 0.3119},
          {"x": 185, "value": 0.3882},
          {"x": 186, "value": 0.4635},
          {"x": 187, "value": 0.5376},
          {"x": 188, "value": 0.6101},
          {"x": 189, "value": 0.681},
          {"x": 190, "value": 0.75},
          {"x": 191, "value": 0.817},
          {"x": 192, "value": 0.8817},
          {"x": 193, "value": 0.944},
          {"x": 194, "value": 1.0037},
          {"x": 195, "value": 1.0607},
          {"x": 196, "value": 1.1147},
          {"x": 197, "value": 1.1657},
          {"x": 198, "value": 1.2135},
          {"x": 199, "value": 1.258},
          {"x": 200, "value": 1.299},
          {"x": 201, "value": 1.3365},
          {"x": 202, "value": 1.3703},
          {"x": 203, "value": 1.4004},
          {"x": 204, "value": 1.4266},
          {"x": 205, "value": 1.4489},
          {"x": 206, "value": 1.4672},
          {"x": 207, "value": 1.4815},
          {"x": 208, "value": 1.4918},
          {"x": 209, "value": 1.4979},
          {"x": 210, "value": 1.5},
          {"x": 211, "value": 1.4979},
          {"x": 212, "value": 1.4918},
          {"x": 213, "value": 1.4815},
          {"x": 214, "value": 1.4672},
          {"x": 215, "value": 1.4489},
          {"x": 216, "value": 1.4266},
          {"x": 217, "value": 1.4004},
          {"x": 218, "value": 1.3703},
          {"x": 219, "value": 1.3365},
          {"x": 220, "value": 1.299},
          {"x": 221, "value": 1.258},
          {"x": 222, "value": 1.2135},
          {"x": 223, "value": 1.1657},
          {"x": 224, "value": 1.1147},
          {"x": 225, "value": 1.0607},
          {"x": 226, "value": 1.0037},
          {"x": 227, "value": 0.944},
          {"x": 228, "value": 0.8817},
          {"x": 229, "value": 0.817},
          {"x": 230, "value": 0.75},
          {"x": 231, "value": 0.681},
          {"x": 232, "value": 0.6101},
          {"x": 233, "value": 0.5376},
          {"x": 234, "value": 0.4635},
          {"x": 235, "value": 0.3882},
          {"x": 236, "value": 0.3119},
          {"x": 237, "value": 0.2347},
          {"x": 238, "value": 0.1568},
          {"x": 239, "value": 0.0785},
          {"x": 240, "value": 0},
          {"x": 241, "value": 0.0785},
          {"x": 242, "value": 0.1568},
          {"x": 243, "value": 0.2347},
          {"x": 244, "value": 0.3119},
          {"x": 245, "value": 0.3882},
          {"x": 246, "value": 0.4635},
          {"x": 247, "value": 0.5376},
          {"x": 248, "value": 0.6101},
          {"x": 249, "value": 0.681},
          {"x": 250, "value": 0.75},
          {"x": 251, "value": 0.817},
          {"x": 252, "value": 0.8817},
          {"x": 253, "value": 0.944},
          {"x": 254, "value": 1.0037},
          {"x": 255, "value": 1.0607},
          {"x": 256, "value": 1.1147},
          {"x": 257, "value": 1.1657},
          {"x": 258, "value": 1.2135},
          {"x": 259, "value": 1.258},
          {"x": 260, "value": 1.299},
          {"x": 261, "value": 1.3365},
          {"x": 262, "value": 1.3703},
          {"x": 263, "value": 1.4004},
          {"x": 264, "value": 1.4266},
          {"x": 265, "value": 1.4489},
          {"x": 266, "value": 1.4672},
          {"x": 267, "value": 1.4815},
          {"x": 268, "value": 1.4918},
          {"x": 269, "value": 1.4979},
          {"x": 270, "value": 1.5},
          {"x": 271, "value": 1.4979},
          {"x": 272, "value": 1.4918},
          {"x": 273, "value": 1.4815},
          {"x": 274, "value": 1.4672},
          {"x": 275, "value": 1.4489},
          {"x": 276, "value": 1.4266},
          {"x": 277, "value": 1.4004},
          {"x": 278, "value": 1.3703},
          {"x": 279, "value": 1.3365},
          {"x": 280, "value": 1.299},
          {"x": 281, "value": 1.258},
          {"x": 282, "value": 1.2135},
          {"x": 283, "value": 1.1657},
          {"x": 284, "value": 1.1147},
          {"x": 285, "value": 1.0607},
          {"x": 286, "value": 1.0037},
          {"x": 287, "value": 0.944},
          {"x": 288, "value": 0.8817},
          {"x": 289, "value": 0.817},
          {"x": 290, "value": 0.75},
          {"x": 291, "value": 0.681},
          {"x": 292, "value": 0.6101},
          {"x": 293, "value": 0.5376},
          {"x": 294, "value": 0.4635},
          {"x": 295, "value": 0.3882},
          {"x": 296, "value": 0.3119},
          {"x": 297, "value": 0.2347},
          {"x": 298, "value": 0.1568},
          {"x": 299, "value": 0.0785},
          {"x": 300, "value": 0},
          {"x": 301, "value": 0.0785},
          {"x": 302, "value": 0.1568},
          {"x": 303, "value": 0.2347},
          {"x": 304, "value": 0.3119},
          {"x": 305, "value": 0.3882},
          {"x": 306, "value": 0.4635},
          {"x": 307, "value": 0.5376},
          {"x": 308, "value": 0.6101},
          {"x": 309, "value": 0.681},
          {"x": 310, "value": 0.75},
          {"x": 311, "value": 0.817},
          {"x": 312, "value": 0.8817},
          {"x": 313, "value": 0.944},
          {"x": 314, "value": 1.0037},
          {"x": 315, "value": 1.0607},
          {"x": 316, "value": 1.1147},
          {"x": 317, "value": 1.1657},
          {"x": 318, "value": 1.2135},
          {"x": 319, "value": 1.258},
          {"x": 320, "value": 1.299},
          {"x": 321, "value": 1.3365},
          {"x": 322, "value": 1.3703},
          {"x": 323, "value": 1.4004},
          {"x": 324, "value": 1.4266},
          {"x": 325, "value": 1.4489},
          {"x": 326, "value": 1.4672},
          {"x": 327, "value": 1.4815},
          {"x": 328, "value": 1.4918},
          {"x": 329, "value": 1.4979},
          {"x": 330, "value": 1.5},
          {"x": 331, "value": 1.4979},
          {"x": 332, "value": 1.4918},
          {"x": 333, "value": 1.4815},
          {"x": 334, "value": 1.4672},
          {"x": 335, "value": 1.4489},
          {"x": 336, "value": 1.4266},
          {"x": 337, "value": 1.4004},
          {"x": 338, "value": 1.3703},
          {"x": 339, "value": 1.3365},
          {"x": 340, "value": 1.299},
          {"x": 341, "value": 1.258},
          {"x": 342, "value": 1.2135},
          {"x": 343, "value": 1.1657},
          {"x": 344, "value": 1.1147},
          {"x": 345, "value": 1.0607},
          {"x": 346, "value": 1.0037},
          {"x": 347, "value": 0.944},
          {"x": 348, "value": 0.8817},
          {"x": 349, "value": 0.817},
          {"x": 350, "value": 0.75},
          {"x": 351, "value": 0.681},
          {"x": 352, "value": 0.6101},
          {"x": 353, "value": 0.5376},
          {"x": 354, "value": 0.4635},
          {"x": 355, "value": 0.3882},
          {"x": 356, "value": 0.3119},
          {"x": 357, "value": 0.2347},
          {"x": 358, "value": 0.1568},
          {"x": 359, "value": 0.0785},
          {"x": 360, "value": 0}
        ]
      }]
    }
  };
  var chart = anychart.fromJson(json);
  chart.draw();
});