{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  var json = {
    // chart settings
    "chart": {
      // chart type
      "type": "column",
      // chart title
      "title": "JSON Point Color",

      // set series data
      "series": [{
        "data": [
          {"x": "P1", "value": "132"},
          {"x": "P2", "value": "124"},
          {"x": "P3", "value": "102"},
          {"x": "P4", "value": "119"},
          {"x": "P5", "value": "169"},
          {"x": "P6", "value": "237", "fill": "Rgb(77,180,77)"},  // set color for the point
          {"x": "P7", "value": "120"},
          {"x": "P8", "value": "99"},
          {"x": "P9", "value": "44", "fill": "#B44D4D"},          // set color for the point
          {"x": "P10", "value": "59"}
        ],

        // set color for the series
        "fill": "#C6D1A5"
      }],

      // chart container
      "container": "container"
    }
  };
  var chart = anychart.fromJson(json);
  chart.draw();
});