{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
  var json = {
    // chart settings
    "chart": {
      // chart type
      "type": "column",
      // chart title
      "title": "JSON Hatch Fill settings",

      // set series data and visual settings
      "series": [{
        "data": [
          {"x": "P1", "value": "14"},
          {"x": "P2", "value": "19"},
          {"x": "P3", "value": "27"}
        ],
        "color": "#EEEEEE",
        "hatchFill": "diagonalcross"
      },{
        "data": [
          {"x": "P1", "value": "24"},
          {"x": "P2", "value": "26"},
          {"x": "P3", "value": "38"}
        ],
        "color": "#EEEEEE",
        "hatchFill": "diagonalbrick"
      },{
        "data": [
          {"x": "P1", "value": "34"},
          {"x": "P2", "value": "39"},
          {"x": "P3", "value": "35"}
        ],
        "color": "#EEEEEE",
        "hatchFill": "zigzag"
      }, {
        "data": [
          {"x": "P1", "value": "42"},
          {"x": "P2", "value": "45"},
          {"x": "P3", "value": "41"}
        ],
        "color": "#EEEEEE",
        "hatchFill": "checkerboard"
      },{
        "data": [
          {"x": "P1", "value": "50"},
          {"x": "P2", "value": "61"},
          {"x": "P3", "value": "58"}
        ],
        "color": "#EEEEEE",
        "hatchFill": "percent30"
      }],

      // chart container
      "container": "container"
    }
  };
  var chart = anychart.fromJson(json);
  chart.draw();
});