{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // xml data
  var xml = '<?xml version="1.0" encoding="utf-8"?>' +
  '<anychart xmlns="http://anychart.com/products/anychart7/schemas/7.3.0/schema.xsd">' +
    // set chart type, title and chart container
    '<chart type="column" container="container" title="XML Logarithmic Scale">' +
    // y scale setting
    '<y_scale type="log"/>'+
      // series for the chart
      '<series_list>'+
        // series settings
        '<series>' +
          // data set
          '<data>' +
            '<point x="P1" value="637166"/>'+
            '<point x="P2" value="721630"/>'+
            '<point x="P3" value="1000"/>'+
            '<point x="P4" value="78"/>'+
            '<point x="P5" value="90"/>'+
          '</data>'+
        '</series>'+
      '</series_list>'+
    '</chart>'+
  '</anychart>';

  // get XML data
  var chart = anychart.fromXml(xml);

  // draw chart
  chart.draw();
});