{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

  // data
  var csvData = 'January, 10000\n'+
    'February, 12000\n'+
    'March, 18000\n'+
    'April, 11000\n'+
    'May, 9000\n';

  // chart type
  chart = anychart.lineChart();

  // title
  chart.title().text('Spline chart');

  // set axes titles
  chart.xAxis().title().text('Sales');
  chart.yAxis().title().text('Month');

  // set data and define chart
  chart.spline(csvData);

  // draw
  chart.container('container').draw();
});