{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

    chart = anychart.lineChart([
        28, 
        26, 
        27, 
        25,
        29,
        28
        ]);

    // draw
    chart.container('container').draw();
});