{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {
    var data = [
        // column 0    1    2    3
        ["2014/6/25",  28,  23,  28], // row 1
        ["2014/6/26",  26,  21,  26], //     2
        ["2014/6/27",  27,  19,  26], //     3
        ["2014/6/28",  25,  21,  27], //     4
        ["2014/6/29",  29,  22,  28], //     5
        ["2014/6/30",  28,  25,  27]  //     6
    ];

    // create mapping list on one data set
    var dataMappingList = anychart.data.mapAsTable(data);

    // create line chart
    var lineChart = anychart.lineChart.apply(null, dataMappingList);

    // set container
    lineChart.container('container');

    // initiate chart drawing
    lineChart.draw();
});