{:tags []
     :is_new false
     :exports "chart"}

anychart.onDocumentReady(function() {

var data = [
      // column 0
  {name: 'Product A', value: 1222},                // row 0
  {name: 'Product B', value: 2431},                //    1
  {name: 'Product C', value: 3624},                //    2
  {name: 'Product D', value: 5243},                //    3
  {name: 'Product E', value: 8813, fill: 'gold'}   //    4
];

// create a data set
var dataSet = anychart.data.set(data);

// create a pie chart using the data set
var pieChart = anychart.pieChart(dataSet);

// set container id for the chart
pieChart.container('container');

// initiate chart drawing
pieChart.draw();
});